.footer-text {
    text-align: left;
}

.container {
    background-color: rgb(227, 250, 250);
    display: flex;
    position: relative;
    bottom: 20px;
}

input {
    justify-content: space-between;
    margin: 15px;
    width: 500px;
    pointer-events: none;
}

.input-footer-heading {
    text-align: left;
}

.footer-button {
    display: flex;
}

.header-text {
    position: relative;
    bottom: 15px;
    width: 846px;
}

.body {
    overflow: scroll;
    overflow-x: hidden;
    height: 130px;
}

@media (max-width: 1080px) {
    .header-text {
        font-size: 13px;
        width: 100%;
    }

    .body {
        font-size: 13px;
    }

    .footer-text {
        font-size: 13px;
    }

    input {
        margin: 6px;
        width: 97%;
    }

    .container {
        flex-direction: column;
    }

    .input-footer-heading {
        font-size: 11px;
        padding-bottom: 5px;
    }

    .footer-button {
        flex-direction: column;
    }
}

.contain{
    height: 410px;
}