.container {
  margin: 0 20px;
}
:host ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(even) {
  background: #f3eadc;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: #37424a;
  color: #fff;
}

:host ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #fff;
}
