<div class="p-grid">
  <div class="p-col-12">
    <app-item-header title="Veteran Profile"></app-item-header>
    <div class="form-container">
      <form [formGroup]="veteranProfileForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid p-formgrid p-grid">
          <img
            id="img_div"
            src="assets/images/profile.svg"
            alt="Image"
            width="150"
          />
        </div>
        <div id="first_div" class="p-fluid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <span  class="p-float-label">
            <input
              id="Record #"
              type="text"
              class="disable"
              value="{{veteran.recordNo}}"
              pInputText
              formControlName="recordNo"
            />
            <label for="Record #">Record #</label>
            </span>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <span  class="p-float-label">
            <p-calendar id="Intake DOB"
            formControlName="intakeDOB"
            [inline]="false"
            [showIcon]="true"
            class="disable"
            placeholder="Intake DOB(mm/dd/yyyy)">
            </p-calendar>
            <label for="Intake DOB"></label>
            </span>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <span  class="p-float-label">
            <input
            id="Case Manager"
              type="text"
              class="disable"
            
              pInputText
              formControlName="caseManager"
            />
            <label for="Case Manager">Case Manager</label>
          </span>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <span  class="p-float-label">
            <input
              id="Veteran Id"
              type="text"
              class="disable"
             
              pInputText
              formControlName="veteranId"
            />
            <label for="Veteran Id">Veteran Id</label>
          </span>
          </div>
        </div>

        <!-- Person Info start -->
        <fieldset class="field_set">
          <legend class="fieldset_legand"  class="p-col heading"><span class="title">PERSON'S INFORMATION</span></legend>
          <div class="p-fluid  p-grid">
            <div class="p-field p-col-12 p-md-4">
            <span  class="p-float-label">
              <input
                id="First Name"
                type="text"
                pInputText
                formControlName="firstName"
              />
              <label for="First Name">First Name</label>
             </span>
              <div
                *ngIf="
                  getControl.firstName.touched && getControl.firstName.invalid
                "
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.firstName.errors?.required"
                >
                  Please enter a valid first name.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.firstName.errors?.minlength"
                >
                  Minimum 4 characters are required for first name.
                </small>
              </div>
            </div>

            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
                type="text"
                id="Last Name"
                pInputText
                formControlName="middleName"
              />
              <label for="Middle Name">Middle Name</label>
              </span>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
              required
              id="Last Name"
                type="text"
                pInputText
                formControlName="lastName"
              />
              <label for="Last Name">Last Name</label>
              </span>
              <div
                *ngIf="
                getControl.lastName.touched && getControl.lastName.invalid 
                "
                class="text-danger"
              >
                <small
                class="error"
                *ngIf="getControl.lastName.errors?.required"
                >
                  Last Name is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.lastName.errors?.minlength"
                >
                  Minimum 4 character are required.
                </small>
              </div>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
                id="Nick Name"
                type="text"
                pInputText
                formControlName="nickName"
              />
              <label for="Nick Name">Nick Name</label>
              </span>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <p-calendar
                formControlName="DOB"
                [inline]="false"
                [showIcon]="true"
                placeholder="Date Of Birth (mm/dd/yyyy)"
              >
              </p-calendar>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                formControlName="POB"
                pInputText
                placeholder="Place Of Birth"
              />
            </div>
          </div>
          <div class="p-fluid p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
              id="SSN #"
                type="text"
                pInputText
                formControlName="SSNNumber"
                mask ="000-00-0000"
              />
              <label for="SSN #">SSN #</label>
            </span>
              <div
                *ngIf="
                  getControl.SSNNumber.touched && getControl.SSNNumber.invalid
                "
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.SSNNumber.errors?.required"
                >
                  SSN # is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.SSNNumber.errors?.required"
                >
                  SSN # seems invalid.
                </small>
              </div>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
              id="HMIS ID #"
                type="text"
                pInputText
                formControlName="hmisIdNo"
                mask ="000-000"
              />
              <label for="HMIS ID #">HMIS ID #</label>
            </span>
              <div
                *ngIf="
                  getControl.hmisIdNo.touched && getControl.hmisIdNo.invalid
                "
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.hmisIdNo.errors?.required"
                >
                  hmisIdNo is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.hmisIdNo.errors?.required"
                >
                  Hmis Id No seems invalid.
                </small>
              </div>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="title">Gender</span>
              <div *ngFor="let category of genders" class="p-field-checkbox">
                <p-radioButton
                  [inputId]="category.key"
                  name="selectedGender"
                  [value]="category"
                  formControlName="selectedGender"
                  [disabled]="category.key === 'R'"
                ></p-radioButton>
                <label [for]="category.key">{{ category.name }}</label>
              </div>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="title">Martial Status</span>
              <div
                *ngFor="let category of martialStatuses"
                class="p-field-checkbox"
              >
                <p-radioButton
                  [inputId]="category.key"
                  name="selectedMartialStatus"
                  [value]="category"
                  formControlName="selectedMartialStatus"
                  [disabled]="category.key === 'R'"
                ></p-radioButton>
                <label [for]="category.key">{{ category.name }}</label>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Person Info End -->

        <!-- Contact Info -->
        <fieldset class="field_set">
          <legend class="fieldset_legand"  class="p-col heading"><span class="title">CONTACT INFORMATION</span></legend>
          <div class="p-fluid  p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
              id="Email Id"
                type="text"
                formControlName="emailId"
                class="form-control"
                pInputText
                mask="SA*@SS*.SS||SA*@SS*.SSS"
              />
              <label for="Email Id">Email Id</label>
            </span>
              <div
                *ngIf="getControl.emailId.touched && getControl.emailId.invalid"
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.emailId.errors?.required"
                >
                  Email is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.emailId.errors?.required"
                >
                  Email seems invalid.
                </small>
              </div>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
              id="Phone Number"
                type="text"
                formControlName="phoneNumber"
                class="form-control"
                mask="(000) 000-0000" prefix="+1" 
                pInputText
              />
              <label for="Phone Number">Phone Number</label>
            </span>
            </div>
          </div>
          
        </fieldset>
        <!-- Contact Info End -->

        <!-- Personal Information 
        <fieldset class="field_set">
          <legend class="fieldset_legand"  class="p-col heading">PERSONAL</legend>
          <div class="p-fluid p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
              id="SSN #"
                type="text"
                pInputText
                formControlName="SSNNumber"
                mask ="000-00-0000"
              />
              <label for="SSN #">SSN #</label>
            </span>
              <div
                *ngIf="
                  getControl.SSNNumber.touched && getControl.SSNNumber.invalid
                "
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.SSNNumber.errors?.required"
                >
                  SSN # is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.SSNNumber.errors?.required"
                >
                  SSN # seems invalid.
                </small>
              </div>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <input
              id="HMIS ID #"
                type="text"
                pInputText
                formControlName="hmisIdNo"
                mask ="000-000"
              />
              <label for="HMIS ID #">HMIS ID #</label>
            </span>
              <div
                *ngIf="
                  getControl.hmisIdNo.touched && getControl.hmisIdNo.invalid
                "
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.hmisIdNo.errors?.required"
                >
                  hmisIdNo is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.hmisIdNo.errors?.required"
                >
                  Hmis Id No seems invalid.
                </small>
              </div>
            </div>
          </div>
          <div class="p-fluid p-formgrid p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="title">Gender</span>
              <div *ngFor="let category of genders" class="p-field-checkbox">
                <p-radioButton
                  [inputId]="category.key"
                  name="category"
                  value="category"
                  formControlName="selectedGender"
                  [disabled]="category.key === 'R'"
                ></p-radioButton>
                <label [for]="category.key">{{ category.name }}</label>
              </div>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="title">Martial Status</span>
              <div
                *ngFor="let category of martialStatuses"
                class="p-field-checkbox"
              >
                <p-radioButton
                  [inputId]="category.key"
                  name="selectedMartialStatus"
                  [value]="category"
                  formControlName="selectedMartialStatus"
                  [disabled]="category.key === 'R'"
                ></p-radioButton>
                <label [for]="category.key">{{ category.name }}</label>
              </div>
            </div>
          </div>
        </fieldset>
        Personal Info End -->

        <!-- Address Info start -->
        <fieldset class="field_set">
          <legend class="fieldset_legand"  class="p-col heading">ADDRESS INFORMATION</legend>
          <div class="p-fluid p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="address1"
                placeholder="Address 1"
              />
              <div
                *ngIf="
                  getControl.lastName.touched && getControl.lastName.invalid
                "
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.lastName.errors?.required"
                >
                  Address 1 is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.lastName.errors?.minlength"
                >
                  Minimum 4 character are required.
                </small>
              </div>
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="city"
                placeholder="City"
              />
              <div
                *ngIf="getControl.city.touched && getControl.city.invalid"
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.city.errors?.required"
                >
                  city is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.city.errors?.minlength"
                >
                  Minimum 4 character are required.
                </small>
              </div>
            </div>


            <!-- <div class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
                <p-dropdown
                  inputId="dropdown"
                  [autoDisplayFirst]="false"
                  [options]="cities"
                  [(ngModel)]="value8"
                  optionLabel="name"
                ></p-dropdown>
                <label for="dropdown">Dropdown</label>
              </span>
            </div> -->
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <span class="p-float-label">
              <p-dropdown
              inputId="Select State"
              [autoDisplayFirst]="false"
                [options]="states"
                formControlName="selectedState"
                optionLabel="name"
              >
              </p-dropdown>
              <label for="Select State">Select State</label>

            </span>
            </div>
            <ng-template pTemplate="selectedItem">
              <div
                class="country-item country-item-value"
                *ngIf="selectedState"
              >
                <div>{{ selectedState.name }}</div>
              </div>
            </ng-template>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="country"
                placeholder="Country"
              />
              <!-- <div
                *ngIf="
                  getControl.country.touched && getControl.lastName.invalid
                "
                class="text-danger"
              >
                <small
                  class="validations"
                  *ngIf="getControl.country.errors?.required"
                >
                  country is required.
            </small>
                <small
                  class="validations"
                  *ngIf="getControl.country.errors?.minlength"
                >
                  Minimum 4 character are required.
          </small>
              </div> -->
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="address2"
                placeholder="Address 2"
              />
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="zipCode"
                placeholder="Zip Code"
                mask="00000-0000||00000"
              />
              <div
                *ngIf="
                  getControl.zipCode.touched && getControl.lastName.invalid
                "
                class="text-danger"
              >
                <small
                  class="error"
                  *ngIf="getControl.zipCode.errors?.required"
                >
                  zipCode is required.
                </small>
                <small
                  class="error"
                  *ngIf="getControl.zipCode.errors?.minlength"
                >
                  Minimum 4 character are required.
                </small>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- Address Info End -->

        <!-- Other Info start -->
        <fieldset class="field_set">
          <legend class="fieldset_legand"  class="p-col heading">OTHER INFORMATION</legend>
          <div class="p-fluid p-grid">
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="hobbies"
                placeholder="Hobbies"
              />
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="primaryLanguage"
                placeholder="Primary Language"
              />
            </div>
            <div id="fields_margin" class="p-field p-col-12 p-md-4">
              <input
                type="text"
                pInputText
                formControlName="relegiousPreferences"
                placeholder="Religious Preferences"
              />
            </div>
           
              <div id="fields_margin" class="p-field p-col-12 p-md-4">
                <input
                  type="text"
                  pInputText
                  formControlName="race"
                  placeholder="Race"
                />
              </div>
            
          </div>
        </fieldset>
        <!-- Other Info End -->

        <!-- Contact Person's Information Start -->
        <fieldset class="field_set">
          <legend class="fieldset_legand"  class="p-col heading">
            CONTACT PERSON'S INFORMATION :
          </legend>
          <div class="p-fluid  p-grid">
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                
                pInputText
                formControlName="cfirstName"
                placeholder="First Name"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.cmiddleName }}"
                pInputText
                formControlName="cmiddleName"
                placeholder="Middle Name"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.clastName }}"
                pInputText
                formControlName="clastName"
                placeholder="Last Name"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.contactPersonRelationship }}"
                pInputText
                formControlName="contactPersonRelationship"
                placeholder="Contact person relationship"
              />
            </div>
          </div>
        </fieldset>
        <!-- Contact Person's Information  End-->

        <!--  Contact Person's Address Start -->
        <fieldset id="last_flex" class="field_set">
          <legend class="fieldset_legand"  class="p-col heading">CONTACT PERSON'S ADDRESS</legend>
          <div class="p-fluid  p-grid">
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.cHouseNumber }}"
                pInputText
                formControlName="cHouseNumber"
                placeholder="House Number"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.cHouseNumber }}"
                pInputText
                formControlName="cHouseNumber"
                placeholder="House Number"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.cStree }}"
                pInputText
                formControlName="cStreet"
                placeholder="Street"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.cCity }}"
                pInputText
                formControlName="cCity"
                placeholder="City"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.cState }}"
                pInputText
                formControlName="cState"
                placeholder="State"
              />
            </div>
            <div class="p-field p-col-12 p-md-4">
              <input
                type="text"
                value="{{ veteran?.cZip }}"
                pInputText
                formControlName="cZip"
                placeholder="Zip"
                mask= "00000-0000||00000"
              />
            </div>
          </div>
        </fieldset>
        <!-- Contact Person's Address End -->

        <button
          type="update"
          pButton
          label="Submit"
          class="p-button-outlined"
        ></button>
        <p-button label="Cancel" styleClass="p-button-link"></p-button>
      </form>
    </div>
  </div>
</div>