.header-container {
  background: linear-gradient(180deg, rgba(41, 42, 102, 1) 0%, rgba(130, 129, 176, 1) 49%, rgba(41, 42, 102, 1) 100%);
  height: 56px;
  h1 {
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.996078431372549);
    font-weight: 500;
    font-size: 18px;
  }
  img {
    height: 40px;
    width: 40px;
  }
  .title {
    border-left: 2px solid white;
    padding-left: 20px;
    margin-left: 20px;
  }
  .logo-div {
    display: inline-flex;
  }
}
:host ::ng-deep .p-button-icon {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.border-col {
  background: -webkit-linear-gradient(
    270deg,
    rgba(227, 42, 47, 1) 0%,
    rgba(174, 36, 36, 1) 39%,
    rgba(178, 37, 37, 1) 70%,
    rgba(227, 42, 47, 1) 99%
  );
}
