<p-toast position="top-center"></p-toast>
<div *ngIf="greyingOut" id="overlay"> </div>
<div class="center-spinner">
  <p-progressSpinner *ngIf="submitted" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
    strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<app-item-header [title]="title"></app-item-header>
<div class="progress-notes--container">
  <p-toolbar id="progress-notes--mainToolbar">
    <div class="p-toolbar-group-left">
      <!-- modal for add progress note -->
      <div class="progress-notes--addNoteModal">
        <p-dialog [(visible)]="display" [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" header="Add Progress Note"
          [draggable]="false" [modal]="true" [style]="{ width: '45vw' }" (onHide)="crossButton()">
          <form [formGroup]="progressNote" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
              <div class="p-field p-col-12 p-sm-12">
                <input type="text" formControlName="goalTitle" pInputText placeholder="Goal Title" class="inputFromUser"
                  appNoSpecialSymbols customAttr="startWithAlpha" />
                <small class="error"
                  *ngIf="progressNoteForm.goalTitle.errors?.required && progressNoteForm.goalTitle.touched">Goal title
                  is required.</small>
                <small class="error" *ngIf="progressNoteForm.goalTitle.errors?.maxlength">Goal title should be at max of
                  50 characters.</small>
              </div>
              <div class="p-field p-col-12 p-sm-12">
                <p-dropdown [options]="goalTypes" formControlName="goalType" placeholder="Select a Goal Type"
                  optionLabel="name" optionValue="value" [showClear]="true"></p-dropdown>
                <small class="error"
                  *ngIf="progressNoteForm.goalType.errors?.required && progressNoteForm.goalType.touched">Goal
                  type is required.</small>
              </div>
              <div class="p-field p-col-12 p-sm-12">
                <textarea [rows]="6" formControlName="goalDescription" pInputTextarea placeholder="Goal Description"
                  class="inputFromUser"></textarea>
                <small class="error"
                  *ngIf="progressNoteForm.goalDescription.errors?.required && progressNoteForm.goalDescription.touched">Goal
                  description is required.</small>
                <small class="error" *ngIf="progressNoteForm.goalDescription.errors?.maxlength">Goal description should
                  be at max of 300 characters</small>
              </div>
              <div class="p-field p-col-12 p-sm-12">
                <label for="statusCheck">Goal Status</label>
                <p-toolbar>
                  <div class="p-toolbar-group-left">
                    <span class="p-mr-2">In Progress</span>
                    <p-inputSwitch [(ngModel)]="initialStatus" formControlName="goalState" id="statusCheck"
                      class="open-close-switch">
                    </p-inputSwitch>
                    <span class="p-ml-2">Complete</span>
                  </div>
                </p-toolbar>
              </div>
            </div>
            <div class="progress-note-buttons">
              <button type="submit" pButton [disabled]="progressNote.invalid" label="Submit"
                class="p-button-inlined"></button>
              <button type="button" (click)="cancleIt()" pButton label="Cancel"
                class="p-button-text p-button-secondary"></button>
            </div>
          </form>
        </p-dialog>
      </div>
      <!-- add note modal ends -->
      <button type="button" pButton icon="fas fa-plus-circle" label="Add Notes" class="p-button-outlined addNotesButton"
        (click)="showDialog()"></button>
    </div>
    <div class="p-toolbar-group-right">
      <input type="text" [(ngModel)]="searchText" pInputText placeholder="Search" class="search-dialog"/>
      <!-- modal for pop-out -->
      <div>
        <p-dialog header="Progress Notes" [(visible)]="displayList" [modal]="true" [draggable]="false"
          [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [style]="{ width: '75vw' }"
          [contentStyle]="{ minHeight: '500px' }">
          <div>
            <p-toolbar id="progress-notes--mainToolbar">
              <div class="p-toolbar-group-left">
                <button type="button" pButton icon="fas fa-plus-circle" label="Add Notes"
                  class="p-button-outlined addNotesButton" (click)="showDialog()"></button>
              </div>
              <div class="p-toolbar-group-right">
                <input type="text" [(ngModel)]="searchText" pInputText placeholder="Search" class="search-dialog" />
              </div>
            </p-toolbar>
          </div>

          <div class="progress-notes--group-2 p-mt-4 p-grid">
            <div class="p-shadow-2 p-col-12 progress-note-2" *ngFor="
                let progressNote of progressNotes | filter: searchText;
                let i = index
              ">
              <div class="inputSwitch-container p-col-12">
                <p-toolbar id="progress-notes--mainToolbar">
                  <div class="p-toolbar-group-left  p-col-9">
                    <span class="p-mr-2">InProgress</span>
                    <p-inputSwitch [(ngModel)]="progressNote.goalState"
                      (onChange)="changed(progressNote.goalId, progressNote.goalState)" class="open-close-switch">
                    </p-inputSwitch> <span class="p-ml-2">Complete</span>
                    <div class="p-col-12 goal-header p-d-flex p-jc-end">
                      <div class="goal-header--date">
                        Added on: {{ progressNote.addedDate | date: 'dd/MM/yyyy'}}
                      </div>
                    </div>
                  </div>
                </p-toolbar>
              </div>
              <div class="p-col-12 goal-header p-d-flex p-jc-between">
                <div class="goal-header--title">
                  {{ progressNote.goalTitle | titlecase}}
                </div>
              </div>
              <div class="p-col-12 goal-header p-d-flex p-jc-between">
                <div class="goal-header--date">
                  Goal Type: {{ progressNote.goalType | titlecase}}
                </div>
              </div>
              <div class="p-col-12 goal-content">
                <p class="goal-description">
                  {{ progressNote.goalDescription }}
                </p>
              </div>
            </div>
          </div>
        </p-dialog>
      </div>
      <!-- modal for pop-out ends -->
      <button type="button" pButton icon="fas fa-external-link-alt" (click)="showList()" class="p-button-text"
        style="font-size: 20px"></button>
    </div>
  </p-toolbar>
  <div class="progress-notes--group p-mt-4 p-grid">
    <div class="p-shadow-2 p-col-12 progress-note" *ngFor="
        let progressNote of progressNotes | filter: searchText;
        let i = index
      ">

      <div class="inputSwitch-container p-col-12">
        <p-toolbar id="progress-notes--mainToolbar">
          <div class="p-toolbar-group-left  p-col-7">
            <span class="p-mr-2">InProgress</span>
            <p-inputSwitch [(ngModel)]="progressNote.goalState"
              (onChange)="changed(progressNote.goalId, progressNote.goalState)" class="open-close-switch">
            </p-inputSwitch> <span class="p-ml-2">Complete</span>
            <div class="p-col-12 goal-header p-d-flex p-jc-end">
              <div class="goal-header--date">
                Added on: {{ progressNote.addedDate | date: 'dd/MM/yyyy'}}
              </div>
            </div>
          </div>
        </p-toolbar>
      </div>
      <div class="p-col-12 goal-header p-d-flex p-jc-between">
        <div class="goal-header--title">{{ progressNote.goalTitle | titlecase}}</div>
      </div>
      <div class="p-col-12 goal-header p-d-flex p-jc-between">
        <div class="goal-header--date">Goal Type: {{ progressNote.goalType | titlecase}}</div>
        <!-- <div class="goal-header--date">Added on: {{ progressNote.addedDate | date: 'dd/MM/yyyy'  }}</div> -->
      </div>
      <div class="p-col-12 goal-content">
        <p class="goal-description" id="goal-desc--{{ i }}">
          {{ progressNote.goalDescription }}
        </p>
        <p-toggleButton offIcon="fas fa-chevron-down" onIcon="fas fa-chevron-up" styleClass="p-button-text"
          (click)="expandOrCollapse(i)"></p-toggleButton>
      </div>
    </div>
  </div>
</div>