<app-item-header [title]="title"></app-item-header>
<div class="progress-notes--container">
  <p-toolbar id="progress-notes--mainToolbar">
    <div class="p-toolbar-group-left">
      <!-- modal for add progress note -->
      <div class="progress-notes--addNoteModal">
        <p-dialog
          [(visible)]="display"
          [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
          header="Add Progress Note"
          [draggable]="false"
          [modal]="true"
          [style]="{ width: '45vw' }"
          (onHide)="crossButton()"
        >
          <form [formGroup]="progressNote" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
              <div class="p-field p-col-12 p-sm-12">
                <input
                  type="text"
                  formControlName="goalTitle"
                  pInputText
                  placeholder="Goal Title"
                  class="inputFromUser"
           
                />
                <small
                  class="error"
                  *ngIf="goalTitle.errors?.required && goalTitle.touched"
                  >Goal Title is required.</small
                >
                <small
                  class="error"
                  *ngIf="goalTitle.errors?.pattern"
                  >Goal Title should always start with alphabet.</small
                >
                <small
                class="error"
                *ngIf="goalTitle.errors?.maxlength"
                >Goal Title should be at max of 30 characters.</small
              >
              </div>
              <div class="p-field p-col-12 p-sm-12">
                <textarea
                  [rows]="6"
                  formControlName="goalDescription"
                  pInputTextarea
                  placeholder="Goal Description"
                  class="inputFromUser"
                ></textarea>
                <small
                  class="error"
                  *ngIf="goalDescription.errors?.required && goalDescription.touched"
                  >Goal Description is required.</small
                >
                <small
                class="error"
                *ngIf="goalDescription.errors?.maxlength"
                >Goal Description should be at max of 50 characters</small
              >
              </div>
              <div class="p-field p-col-12 p-sm-12">
                <label for="statusCheck">Goal Status</label>
                <p-toolbar>
                  <div class="p-toolbar-group-left">
                    <span class="p-mr-2">Closed</span>
                    <p-inputSwitch
                      [(ngModel)]="initialStatus"
                      formControlName="goalState"
                      id="statusCheck"
                      class="open-close-switch"
                    >
                    </p-inputSwitch>
                    <span class="p-ml-2">Open</span>
                  </div>
                  <!-- <small
                    class="error"
                    *ngIf="goalState.invalid && goalState.touched"
                    >Goal Description is required.</small
                  > -->
                </p-toolbar>
              </div>
            </div>
            <div class="progress-note-buttons">
              <button
                type="submit"
                pButton
                [disabled]="progressNote.invalid"
                label="Submit"
                class="p-button-outlined"
              ></button>
              <button
                type="button"
                (click)="cancleIt()"
                pButton
                label="Cancel"
                class="p-button-text p-button-secondary"
              ></button>
            </div>
          </form>
        </p-dialog>
      </div>
      <button
        type="button"
        pButton
        icon="fas fa-plus-circle"
        label="Add Notes"
        class="p-button-outlined"
        (click)="showDialog()"
      ></button>
    </div>
    <div class="p-toolbar-group-right">
      <input
        type="text"
        [(ngModel)]="searchText"
        pInputText
        placeholder="Search"
        class="p-ml-2"
      />
      <!-- modal for pop-out -->
      <div>
        <p-dialog
          header="Progress Notes"
          [(visible)]="displayList"
          [modal]="true"
          [draggable]="false"
          [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
          [style]="{ width: '75vw' }"
          [contentStyle]="{ minHeight: '500px' }"
        >
        <div class="major">
          <p-toolbar id="progress-notes--mainToolbar">
            <div class="p-toolbar-group-left">
              <button
                type="button"
                pButton
                icon="fas fa-plus-circle"
                label="Add Notes"
                class="p-button-outlined p-ml-2 p-mt-1 addNotesButton"
                (click)="showDialog()"
              ></button>
            </div>
            <div class="p-toolbar-group-right">
              <input
                type="text"
                [(ngModel)]="searchText"
                pInputText
                placeholder="Search"
                class="p-mr-2 p-mt-1 search-dialog"
              />
            </div>
          </p-toolbar>
        </div>
          
          <div class="progress-notes--group-2 p-mt-4 p-grid">
            <div
              class="p-shadow-2 p-col-12 progress-note-2"
              *ngFor="
                let progressNote of progressNotes | filter: searchText;
                let i = index
              "
            >
              <div class="inputSwitch-container p-col-12">
                <p-toolbar id="progress-notes--mainToolbar">
                  <div class="p-toolbar-group-left">
                    <span class="p-mr-2">Closed</span>
                    <p-inputSwitch
                      [(ngModel)]="progressNote.goalState"
                    ></p-inputSwitch>
                    <span class="p-ml-2">Open</span>
                  </div>
                  <div class="p-toolbar-group-right">
                    <button
                      type="button"
                      pButton
                      icon="fas fa-cog"
                      class="p-button-text settings-button"
                      style="font-size: 30px"
                    ></button>
                  </div>
                </p-toolbar>
              </div>
              <div class="p-col-12 goal-header p-d-flex p-jc-between">
                <div class="goal-header--title">
                  {{ progressNote.goalTitle }}
                </div>
                <div class="goal-header--date">
                  Added {{ progressNote.addedDate }}
                </div>
              </div>
              <div class="p-col-12 goal-content">
                <p class="goal-description">
                  {{ progressNote.goalDescription }}
                </p>
              </div>
            </div>
          </div>
        </p-dialog>
      </div>
      <button
        type="button"
        pButton
        icon="fas fa-external-link-alt"
        (click)="showList()"
        class="p-button-text"
        style="font-size: 20px"
      ></button>
    </div>
  </p-toolbar>
  <div class="progress-notes--group p-mt-4 p-grid">
    <div
      class="p-shadow-2 p-col-12 progress-note"
      *ngFor="
        let progressNote of progressNotes | filter: searchText;
        let i = index
      "
    >
      <div class="inputSwitch-container p-col-12">
        <p-toolbar id="progress-notes--mainToolbar">
          <div class="p-toolbar-group-left">
            <span class="p-mr-2">Open</span>
            <p-inputSwitch
              [(ngModel)]="progressNote.goalState"
              class="open-close-switch"
            ></p-inputSwitch>
            <span class="p-ml-2">Closed</span>
          </div>
          <div class="p-toolbar-group-right">
            <button
              type="button"
              pButton
              icon="fas fa-cog"
              class="p-button-text settings-button"
              style="font-size: 30px"
            ></button>
          </div>
        </p-toolbar>
      </div>
      <div class="p-col-12 goal-header p-d-flex p-jc-between">
        <div class="goal-header--title">{{ progressNote.goalTitle }}</div>
        <div class="goal-header--date">Added {{ progressNote.addedDate }}</div>
      </div>
      <div class="p-col-12 goal-content">
        <p class="goal-description" id="goal-desc--{{ i }}">
          {{ progressNote.goalDescription }}
        </p>
        <p-toggleButton
          offIcon="fas fa-chevron-down"
          onIcon="fas fa-chevron-up"
          styleClass="p-button-text"
          (click)="expandOrCollapse(i)"
        ></p-toggleButton>
      </div>
    </div>
  </div>
</div>
