<div *ngIf="showOverlay" id="overlay"></div>
<p-toast position="top-center"></p-toast>
<div class="center-spinner">
<p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="form-container">
  <div class="p-fluid p-formgrid p-grid">
    <img
      class="form-container__img"
      src="assets/images/profile.svg"
      alt="Image"
      width="150"
    />
  </div>
  <!-- <input  #imageInput accept="image/*" (change)="onImagePicked(imageInput)" pInputText placeholder="Upload Image" type="file" />
  <button pButton (click)="onImageUpload()">Upload Image</button> -->
  <div *ngIf="isShowFields" class="p-fluid p-grid">
    <div class="p-field p-col-12 p-md-4">
      <label class="label-title">Record #</label>
      <input
        id="Record #"
        type="text"
        class="form-container__disable"
        value="{{veteran?.record_number}}"
        pInputText
      />
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label class="label-title">Intake Date</label>
      <input
        id="Intake DOB"
        class="form-container__disable"
        placeholder="Intake DOB(mm/dd/yyyy)"
        value="{{veteran?.intake_date | date:'dd/MM/yyyy'}}"
        pInputText
      />
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label class="label-title">Case Manager</label>
      <input
        id="Case Manager"
        type="text"
        class="form-container__disable"
        pInputText
      />
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label class="label-title">Veteran Id</label>
      <input
        id="Veteran Id"
        type="text"
        class="form-container__disable"
        value="{{ veteran?.veteran_id }}"
        appNoSpecialSymbols
        customAttr="textOnly"
        pInputText
      />
    </div>
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <!-- Person Info start -->
    <fieldset class="form-container__sec">
      <legend class="p-col form-container__sec-heading">
        <span class="form-container__sec-heading">PERSON'S INFORMATION</span>
      </legend>
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label for="First Name" class="label-title">First Name</label>
          <input
            id="First Name"
            type="text"
            pInputText
            maxlength="30"
            pattern="[a-zA-Z]+"
            appNoSpecialSymbols
            customAttr="textOnly"
            formControlName="firstName"
            class="form-container__disable"
          />
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Middle Name</label>
          <input
            type="text"
            id="Last Name"
            pInputText
            appNoSpecialSymbols
            customAttr="textOnly"
            maxlength="30"
            formControlName="middleName"
          />

          <div
            *ngIf="
              getControl.middleName.touched && getControl.middleName.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.middleName.errors?.required"
            >
              Middle name is required.
            </small>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Last Name</label>
          <input
            required
            id="Last Name"
            type="text"
            pInputText
            appNoSpecialSymbols
            customAttr="textOnly"
            maxlength="30"
            formControlName="lastName"
            class="form-container__disable"
          />
        </div>
      </div>

      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Nick Name</label>
          <input
            id="Nick Name"
            maxlength="30"
            appNoSpecialSymbols
            customAttr="textOnly"
            type="text"
            pInputText
            formControlName="nickName"
            class="form-container__disable"
          />
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Date of Birth</label>
          <p-calendar
            formControlName="DOB"
            [maxDate]="maxDateValue"
            [inline]="false"
            [showIcon]="true"
            dataType="string"
          >
          </p-calendar>
          <div
            *ngIf="getControl.DOB.touched && getControl.DOB.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.DOB.errors?.required"
            >
              Date of birth is required.
            </small>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Place of Birth</label>
          <input
            id="pob"
            type="text"
            pInputText
            maxlength="30"
            formControlName="POB"
          />
          <div
            *ngIf="getControl.POB.touched && getControl.POB.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.POB.errors?.required"
            >
              Please enter a valid place of birth.
            </small>
          </div>
        </div>
      </div>

      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">SSN</label>
          <input
            id="SSN #"
            type="text"
            pInputText
            formControlName="SSNNumber"
            mask="000-00-0000"
          />
          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.SSNNumber.touched &&
              getControl.SSNNumber.errors?.required
            "
          >
            SSN number is required.
          </small>

          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.SSNNumber.touched &&
              getControl.SSNNumber.invalid &&
              !getControl.SSNNumber.errors?.required
            "
          >
            SSN number is invalid minimum 8 digits required.
          </small>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">HMIS ID #</label>
          <input
            id="HMIS ID #"
            type="text"
            pInputText
            formControlName="hmisIdNo"
            mask="000-000"
          />
          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.hmisIdNo.touched &&
              getControl.hmisIdNo.errors?.required
            "
          >
            HMIS ID is required.
          </small>

          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.hmisIdNo.touched &&
              getControl.hmisIdNo.invalid &&
              !getControl.hmisIdNo.errors?.required
            "
          >
            HMIS ID is invalid.
          </small>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Select Gender</label>

          <p-dropdown
            inputId="select gender"
            optionValue="value"
            [autoDisplayFirst]="false"
            [options]="genders"
            formControlName="selectedGenders"
            optionLabel="name"
          >
          </p-dropdown>

          <div
            *ngIf="
              getControl.selectedGenders.touched &&
              getControl.selectedGenders.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.selectedGenders.errors?.required"
            >
              Select an option.
            </small>
          </div>
        </div>
        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedGender">
            <div>{{ selectedGender.name }}</div>
          </div>
        </ng-template>
      </div>

      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Select Marital Status</label>
          <p-dropdown
            inputId="maritalStatus"
            optionValue="name"
            [autoDisplayFirst]="false"
            [options]="maritalStatus"
            formControlName="selectedMaritalStatus"
            optionLabel="name"
          >
          </p-dropdown>
          <div
            *ngIf="
              getControl.selectedMaritalStatus.touched &&
              getControl.selectedMaritalStatus.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.selectedMaritalStatus.errors?.required"
            >
              Select an option.
            </small>
          </div>
        </div>
        <ng-template pTemplate="selectedItem">
          <div
            class="country-item country-item-value"
            *ngIf="selectedMaritalStatus"
          >
            <div>{{ selectedMaritalStatus.name }}</div>
          </div>
        </ng-template>
      </div>
    </fieldset>
    <!-- Person Info End -->

    <!-- Contact Info -->
    <fieldset class="form-container__sec">
      <legend class="p-col form-container__sec-heading">
        <span class="form-container__sec-heading">CONTACT INFORMATION</span>
      </legend>
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Email Id</label>
          <input
            id="Email Id"
            type="text"
            class="form-container__disable"
            pInputText
            appNoSpecialSymbols
            value="{{ veteran?.email }}"
          />
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Phone Number</label>
          <input
            id="Phone Number"
            type="text"
            formControlName="phoneNumber"
            class="form-control"
            mask="(000) 000-0000"
            pInputText
          />
          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.phoneNumber.touched &&
              getControl.phoneNumber.errors?.required
            "
          >
            Phone number is required.
          </small>
          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.phoneNumber.touched &&
              getControl.phoneNumber.invalid &&
              !getControl.phoneNumber.errors?.required
            "
          >
            Phone number is invalid.
          </small>
        </div>
      </div>
    </fieldset>
    <!-- Contact Info End -->

    <!-- Address Info start -->
    <fieldset class="form-container__sec">
      <legend class="p-col form-container__sec-heading">
        ADDRESS INFORMATION
      </legend>
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Street Address</label>
          <input
            id="address1"
            appNoSpecialSymbols
            customAttr="textWithSpace"
            type="text"
            pInputText
            maxlength="30"
            formControlName="address1"
          />
          <div
            *ngIf="getControl.address1.touched && getControl.address1.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.address1.errors?.required"
            >
              Address is required.
            </small>
          </div>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">City</label>
          <input
            id="city"
            type="text"
            pInputText
            appNoSpecialSymbols
            customAttr="textOnly"
            maxlength="30"
            formControlName="city"
          />
          <div
            *ngIf="getControl.city.touched && getControl.city.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.city.errors?.required"
            >
              City is required.
            </small>
          </div>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Select State</label>
          <p-dropdown
            inputId="Select State"
            optionValue="value"
            [autoDisplayFirst]="false"
            [options]="states"
            formControlName="selectedState"
            optionLabel="name"
          >
          </p-dropdown>

          <div
            *ngIf="
              getControl.selectedState.touched &&
              getControl.selectedState.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.selectedState.errors?.required"
            >
              Select an option.
            </small>
          </div>
        </div>

        <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedState">
            <div>{{ selectedState.name }}</div>
          </div>
        </ng-template>
      </div>

      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Country</label>
          <input
            type="text"
            appNoSpecialSymbols
            customAttr="textOnly"
            pInputText
            formControlName="country"
          />
          <div
            *ngIf="getControl.country.touched && getControl.country.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.country.errors?.required"
            >
              Country is required.
            </small>
          </div>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Address 2</label>
          <input
            type="text"
            pInputText
            appNoSpecialSymbols
            customAttr="textWithSpace"
            formControlName="address2"
            maxlength="30"
          />
          <div
            *ngIf="getControl.address2.touched && getControl.address2.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.address2.errors?.required"
            >
              Address 2 is required.
            </small>
          </div>
        </div>
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Zip</label>
          <input
            id="zip"
            type="text"
            pInputText
            formControlName="zipCode"
            mask="00000-0000||00000"
          />
          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.zipCode.touched && getControl.zipCode.errors?.required
            "
          >
            Zip code is required.
          </small>

          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.zipCode.touched &&
              getControl.zipCode.invalid &&
              !getControl.zipCode.errors?.required
            "
          >
            Zip code is invalid.
          </small>
        </div>
      </div>
    </fieldset>
    <!-- Address Info End -->

    <!-- Other Info start -->
    <fieldset class="form-container__sec">
      <legend class="p-col form-container__sec-heading">
        OTHER INFORMATION
      </legend>
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Hobbies</label>
          <input
            id="hobbies"
            type="text"
            appNoSpecialSymbols
            customAttr="textWithSpace"
            maxlength="255"
            pInputText
            formControlName="hobbies"
          />
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Primary Language</label>
          <input
            id="primaryLanguage"
            type="text"
            appNoSpecialSymbols
            customAttr="textWithSpace"
            pInputText
            formControlName="primaryLanguage"
          />
          <div
            *ngIf="
              getControl.primaryLanguage.touched &&
              getControl.primaryLanguage.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.primaryLanguage.errors?.required"
            >
              Primary language is required.
            </small>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Religious Preference</label>
          <input
            id="Select ReligiousPreference"
            type="text"
            appNoSpecialSymbols
            customAttr="textWithSpace"
            pInputText
            formControlName="relegion"
          />
          <div
            *ngIf="getControl.relegion.touched && getControl.relegion.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.relegion.errors?.required"
            >
              Relegion preference is required.
            </small>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Race</label>
          <input
            id="race"
            type="text"
            appNoSpecialSymbols
            customAttr="textWithSpace"
            pInputText
            formControlName="race"
          />
          <div
            *ngIf="getControl.race.touched && getControl.race.invalid"
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.race.errors?.required"
            >
              Race is required.
            </small>
          </div>
        </div>
        <!-- <ng-template pTemplate="selectedItem">
          <div class="country-item country-item-value" *ngIf="selectedRace">
            <div>{{ selectedRace.name }}</div>
          </div>
        </ng-template> -->
      </div>
    </fieldset>
    <!-- Other Info End -->

    <!-- Emergency Contact Details -->

    <fieldset class="form-container__sec p-mb-4">
      <legend class="p-col form-container__sec-heading">
        EMERGENCY CONTACT DETAILS
      </legend>
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Name</label>
          <input
            id="cFirstName"
            maxlength="30"
            appNoSpecialSymbols
            customAttr="textWithSpace"
            type="text"
            pInputText
            formControlName="cfirstName"
          />

          <div
            *ngIf="
              getControl.cfirstName.touched && getControl.cfirstName.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.cfirstName.errors?.required"
            >
              Contact person name is required.
            </small>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Address</label>
          <input
            id="houseNumber"
            type="text"
            pInputText
            formControlName="cHouseNumber"
          />

          <div
            *ngIf="
              getControl.cHouseNumber.touched && getControl.cHouseNumber.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.cHouseNumber.errors?.required"
            >
              Address is required.
            </small>
          </div>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Phone</label>
          <input
            id="phoneNumber"
            type="text"
            pInputText
            formControlName="cPhoneNumber"
            mask="(000) 000-0000"
          />
          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.cPhoneNumber.touched &&
              getControl.cPhoneNumber.errors?.required
            "
          >
            Phone number is required.
          </small>
          <small
            class="form-container__sec-errmsg"
            *ngIf="
              getControl.cPhoneNumber.touched &&
              getControl.cPhoneNumber.invalid &&
              !getControl.cPhoneNumber.errors?.required
            "
          >
            Phone number is invalid.
          </small>
        </div>

        <div class="p-field p-col-12 p-md-4">
          <label class="label-title">Relationship</label>
          <p-dropdown
            inputId="relationship"
            [autoDisplayFirst]="false"
            [options]="relations"
            optionValue="value"
            formControlName="selectedRelationship"
            optionLabel="name"
          >
          </p-dropdown>
          <div
            *ngIf="
              getControl.selectedRelationship.touched &&
              getControl.selectedRelationship.invalid
            "
            class="text-danger"
          >
            <small
              class="form-container__sec-errmsg"
              *ngIf="getControl.selectedRelationship.errors?.required"
            >
              Select an option.
            </small>
          </div>

          <ng-template pTemplate="selectedItem">
            <div
              class="country-item country-item-value"
              *ngIf="selectedRelationship"
            >
              <div>{{ selectedRelationship.name }}</div>
            </div>
          </ng-template>
        </div>
      </div>
    </fieldset>

    <!-- Emergency Contact Details End -->

    <button
      type="submit"
      pButton
      [disabled]="profileForm.invalid"
      label="Submit"
      class="p-button-outlined"
      [ngClass]="profileForm.invalid ? ' p-button-outlined p-button-disabled' : 'p-button-primary'"
    ></button>
    &nbsp; &nbsp;
    <button
      type="button"
      (click)="resetForm()"
      pButton
      label="Cancel"
      class="p-button-outlined"
    ></button>
  </form>
</div>
