.search-header {
  padding-top: 20px;
  padding-left: 10px;
  height: 440px;
  color: #fff;
  font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin-bottom: -360px;
  border-radius: 14px 14px 0px 0px;
  background-image: linear-gradient(270deg, rgb(130, 129, 176) 0%, rgb(41, 42, 102) 100%);
  @media screen and (min-width: 768px) {
    height: 230px;
    margin-bottom: -150px;
  }
}

.search-form {
  background: inherit;
  padding: 0 20px;
  .text-div {
    text-align: center;
    color: #fff;
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    padding: 5px;
  }
}

.container {
  margin-bottom: 50px;
}

:host ::ng-deep .p-button-outlined.submit-button {
  background: #fff;
}

:host ::ng-deep .p-button.sync-button {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.result-table {
  padding: 0 20px;
  margin-top: 20px;
}

.card-resident-name {
  font-family: "Roboto Light", "Roboto Regular", "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 34px;
  color: #822433;
}

.card-resident-details {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  color: #0d5da6;
  line-height: 36px;
}

.error {
  color: rgba(255, 0, 0, 0.993);
  font-size: 15px;
}

.inputFromUser.ng-touched.ng-invalid {
  border: 1px solid red;
}

:host ::ng-deep .resident-search-nav .p-tabmenu-nav {
  justify-content: space-between;
  margin-top: 60px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    .p-tabmenuitem {
      width: 100%;
    }
  }
}

// .image{
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
// }

// .image:hover{
//   transform: scale(1.2);
// }

.card-resident-name {
  font-size: 21px;
}
// .card-resident-details:hover{
//   transform: scale(1.2);
// }

// .cardbox:hover{
//   transform: scale(1.2);
// align-items: center;
// }

.search-header-details {
  padding-top: 20px;
  padding-left: 10px;
  height: 60px;
  color: #fff;
  font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  border-radius: 14px 14px 0px 0px;
  background-image: linear-gradient(270deg, rgb(130, 129, 176) 0%, rgb(41, 42, 102) 100%);
}
