$white-color: #fff;
$light-black-color: rgba(183, 183, 183, 1);

.caseProfile{
    margin-top: 15px;
    padding: 20px 20px;
    background: $white-color;
    border-width: 1px;
    border-style: solid;
    border-color: $light-black-color;
}
.disable {
    pointer-events: none;
    margin-bottom: 10px;
    background-color: whitesmoke;
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
  }

  .CaseWorkerInfo{
    margin-top: 15px;
  }

  .title-img {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    margin-right: 20px;
  }