<div class="p-grid">
  <div class="p-col-12">
    <app-item-header title="CASEWORKER PROFILE" color="blue"></app-item-header>
    <div class="form-container">
      <form
        *ngIf="caseWorkerProfileForm"
        [formGroup]="caseWorkerProfileForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="p-fluid p-formgrid p-grid">
          <img
            class="form-container__img"
            src="assets/images/profile.svg"
            alt="Image"
            width="150"
          />
        </div>

        <!-- Person Info start -->
        <fieldset class="form-container__sec">
          <legend class="p-col form-container__sec-heading">
            <span class="form-container__sec-heading"
              >PERSON'S INFORMATION</span
            >
          </legend>
          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label for="First Name" class="label-title">First Name</label>
              <input
                id="First Name"
                type="text"
                pInputText
                maxlength="30"
                pattern="[a-zA-Z]+"
                appNoSpecialSymbols
                customAttr="textOnly"
                placeholder="First Name"
                formControlName="firstName"
              />
              <div
                *ngIf="
                  getControl.firstName.touched && getControl.firstName.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.firstName.errors?.required"
                >
                  First name is required.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Middle Name</label>
              <input
                type="text"
                id="Last Name"
                pInputText
                value="{{ veteran?.middleName }}"
                appNoSpecialSymbols
                customAttr="textOnly"
                maxlength="30"
                formControlName="middleName"
              />

              <div
                *ngIf="
                  getControl.middleName.touched && getControl.middleName.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.middleName.errors?.required"
                >
                  Middle name is required.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Last Name</label>
              <input
                required
                id="Last Name"
                type="text"
                pInputText
                value="{{ veteran?.lastName }}"
                appNoSpecialSymbols
                customAttr="textOnly"
                maxlength="30"
                formControlName="lastName"
              />
              <div
                *ngIf="
                  getControl.lastName.touched && getControl.lastName.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.lastName.errors?.required"
                >
                  Last Name is required.
                </small>
              </div>
            </div>
          </div>

          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Nick Name</label>
              <input
                id="Nick Name"
                maxlength="30"
                appNoSpecialSymbols
                customAttr="textOnly"
                type="text"
                pInputText
                formControlName="nickName"
              />
              <div
                *ngIf="
                  getControl.nickName.touched && getControl.nickName.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.nickName.errors?.required"
                >
                  Last Name is required.
                </small>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Date of Birth</label>
              <p-calendar
                formControlName="DOB"
                [maxDate]="maxDateValue"
                [inline]="false"
                [showIcon]="true"
              >
              </p-calendar>
              <div
                *ngIf="getControl.DOB.touched && getControl.DOB.invalid"
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.DOB.errors?.required"
                >
                  Date of birth is required.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Place of Birth</label>
              <input
                id="pob"
                type="text"
                pInputText
                maxlength="30"
                formControlName="POB"
              />
              <div
                *ngIf="getControl.POB.touched && getControl.POB.invalid"
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.POB.errors?.required"
                >
                  Please enter a valid place of birth.
                </small>
              </div>
            </div>
          </div>

          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">SSN #</label>
              <input
                id="SSN #"
                type="text"
                pInputText
                formControlName="SSNNumber"
                mask="000-00-0000"
              />
              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.SSNNumber.touched &&
                  getControl.SSNNumber.errors?.required
                "
              >
                SSN number is required.
              </small>

              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.SSNNumber.touched &&
                  getControl.SSNNumber.invalid &&
                  !getControl.SSNNumber.errors?.required
                "
              >
                SSN number is invalid minimum 8 digits required.
              </small>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">HMIS ID #</label>
              <input
                id="HMIS ID #"
                type="text"
                pInputText
                formControlName="hmisIdNo"
                mask="000-000"
              />
              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.hmisIdNo.touched &&
                  getControl.hmisIdNo.errors?.required
                "
              >
                HMIS ID is required.
              </small>

              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.hmisIdNo.touched &&
                  getControl.hmisIdNo.invalid &&
                  !getControl.hmisIdNo.errors?.required
                "
              >
                HMIS ID is invalid.
              </small>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Select Gender</label>

              <p-dropdown
                inputId="select gender"
                [autoDisplayFirst]="false"
                [options]="genders"
                formControlName="selectedGenders"
                optionLabel="name"
              >
              </p-dropdown>

              <div
                *ngIf="
                  getControl.selectedGenders.touched &&
                  getControl.selectedGenders.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.selectedGenders.errors?.required"
                >
                  Select an option.
                </small>
              </div>
            </div>
            <ng-template pTemplate="selectedItem">
              <div
                class="country-item country-item-value"
                *ngIf="selectedGender"
              >
                <div>{{ selectedGender.name }}</div>
              </div>
            </ng-template>
          </div>

          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Select Marital Status</label>
              <p-dropdown
                inputId="maritalStatus"
                [autoDisplayFirst]="false"
                [options]="maritalStatus"
                formControlName="selectedMaritalStatus"
                optionLabel="name"
              >
              </p-dropdown>
              <div
                *ngIf="
                  getControl.selectedMaritalStatus.touched &&
                  getControl.selectedMaritalStatus.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.selectedMaritalStatus.errors?.required"
                >
                  Select an option.
                </small>
              </div>
            </div>
            <ng-template pTemplate="selectedItem">
              <div
                class="country-item country-item-value"
                *ngIf="selectedMaritalStatus"
              >
                <div>{{ selectedMaritalStatus.name }}</div>
              </div>
            </ng-template>
          </div>
        </fieldset>
        <!-- Person Info End -->

        <!-- Contact Info -->
        <fieldset class="form-container__sec">
          <legend class="p-col form-container__sec-heading">
            <span class="form-container__sec-heading">CONTACT INFORMATION</span>
          </legend>
          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Email Id</label>
              <input
                id="Email Id"
                type="text"
                formControlName="emailId"
                maxlength="30"
                class="form-control"
                pInputText
                appNoSpecialSymbols
                customAttr="email"
              />
              <div
                *ngIf="getControl.emailId.touched && getControl.emailId.invalid"
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.emailId.errors?.required"
                >
                  Email is required.
                </small>
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="
                    getControl.emailId.errors?.pattern &&
                    getControl.emailId.invalid
                  "
                >
                  Email seems invalid.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Phone Number</label>
              <input
                id="Phone Number"
                type="text"
                formControlName="phoneNumber"
                class="form-control"
                mask="(000) 000-0000"
                pInputText
              />
              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.phoneNumber.touched &&
                  getControl.phoneNumber.errors?.required
                "
              >
                Phone Number is required.
              </small>
              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.phoneNumber.touched &&
                  getControl.phoneNumber.invalid &&
                  !getControl.phoneNumber.errors?.required
                "
              >
                Phone Number is invalid.
              </small>
            </div>
          </div>
        </fieldset>
        <!-- Contact Info End -->

        <!-- Address Info start -->
        <fieldset class="form-container__sec">
          <legend class="p-col form-container__sec-heading">
            ADDRESS INFORMATION
          </legend>
          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Address 1</label>
              <input
                id="address1"
                appNoSpecialSymbols
                customAttr="textOnly"
                type="text"
                pInputText
                maxlength="30"
                formControlName="address1"
              />
              <div
                *ngIf="
                  getControl.address1.touched && getControl.address1.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.address1.errors?.required"
                >
                  Address 1 is required.
                </small>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">City</label>
              <input
                id="city"
                type="text"
                pInputText
                appNoSpecialSymbols
                customAttr="textOnly"
                maxlength="30"
                formControlName="city"
              />
              <div
                *ngIf="getControl.city.touched && getControl.city.invalid"
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.city.errors?.required"
                >
                  City is required.
                </small>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Select State</label>
              <p-dropdown
                inputId="Select State"
                optionValue="value"
                [autoDisplayFirst]="false"
                [options]="states"
                formControlName="selectedState"
                optionLabel="name"
              >
              </p-dropdown>

              <div
                *ngIf="
                  getControl.selectedState.touched &&
                  getControl.selectedState.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.selectedState.errors?.required"
                >
                  Select an option.
                </small>
              </div>
            </div>

            <ng-template pTemplate="selectedItem">
              <div
                class="country-item country-item-value"
                *ngIf="selectedState"
              >
                <div>{{ selectedState.name }}</div>
              </div>
            </ng-template>
          </div>

          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Select Country</label>
              <input
                type="text"
                appNoSpecialSymbols
                customAttr="textOnly"
                pInputText
                formControlName="country"
              />
              <div
                *ngIf="getControl.country.touched && getControl.country.invalid"
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.country.errors?.required"
                >
                  Country is required.
                </small>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Address 2</label>
              <input
                type="text"
                pInputText
                appNoSpecialSymbols
                customAttr="textOnly"
                formControlName="address2"
                maxlength="30"
              />
              <div
                *ngIf="
                  getControl.address2.touched && getControl.address2.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.address2.errors?.required"
                >
                  Address 2 is required.
                </small>
              </div>
            </div>
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Zip</label>
              <input
                id="zip"
                type="text"
                pInputText
                formControlName="zipCode"
                mask="00000-0000||00000"
              />
              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.zipCode.touched &&
                  getControl.zipCode.errors?.required
                "
              >
                Zip code is required.
              </small>

              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.zipCode.touched &&
                  getControl.zipCode.invalid &&
                  !getControl.zipCode.errors?.required
                "
              >
                Zip code is invalid.
              </small>
            </div>
          </div>
        </fieldset>
        <!-- Address Info End -->

        <!-- Other Info start -->
        <fieldset class="form-container__sec">
          <legend class="p-col form-container__sec-heading">
            OTHER INFORMATION
          </legend>
          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Hobbies</label>
              <input
                id="hobbies"
                type="text"
                appNoSpecialSymbols
                customAttr="textOnly"
                maxlength="30"
                pInputText
                formControlName="hobbies"
              />
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Select Primary Language</label>
              <p-dropdown
                inputId="primaryLanguage"
                [autoDisplayFirst]="false"
                [options]="languages"
                formControlName="selectedprimaryLanguage"
                optionLabel="name"
              >
              </p-dropdown>
              <div
                *ngIf="
                  getControl.selectedprimaryLanguage.touched &&
                  getControl.selectedprimaryLanguage.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.selectedprimaryLanguage.errors?.required"
                >
                  Select an option.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Select Relegious Preference</label>
              <p-dropdown
                inputId="Select RelegiousPreference"
                [autoDisplayFirst]="false"
                [options]="relegions"
                formControlName="selectedRelegion"
                optionLabel="name"
              >
              </p-dropdown>
              <div
                *ngIf="
                  getControl.selectedRelegion.touched &&
                  getControl.selectedRelegion.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.selectedRelegion.errors?.required"
                >
                  Select an option.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Select Race</label>
              <p-dropdown
                inputId="race"
                [autoDisplayFirst]="false"
                [options]="races"
                formControlName="selectedRace"
                optionLabel="name"
              >
              </p-dropdown>
            </div>
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selectedRace">
                <div>{{ selectedRace.name }}</div>
              </div>
            </ng-template>
          </div>
        </fieldset>
        <!-- Other Info End -->

        <!-- Contact Person Details -->

        <fieldset class="form-container__sec p-mb-4">
          <legend class="p-col form-container__sec-heading">
            CONTACT PERSON'S DETAILS
          </legend>
          <div class="p-fluid p-grid">
            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Contatc Person</label>
              <input
                id="cFirstName"
                maxlength="30"
                appNoSpecialSymbols
                appNoSpecialSymbols
                customAttr="textOnly"
                customAttr="textOnly"
                type="text"
                pInputText
                formControlName="cfirstName"
              />

              <div
                *ngIf="
                  getControl.cfirstName.touched && getControl.cfirstName.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.cfirstName.errors?.required"
                >
                  First name is required.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Contatc Person Address</label>
              <input
                id="houseNumber"
                type="text"
                pInputText
                formControlName="cHouseNumber"
              />

              <div
                *ngIf="
                  getControl.cHouseNumber.touched &&
                  getControl.cHouseNumber.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.cHouseNumber.errors?.required"
                >
                  Please enter a valid house number.
                </small>
              </div>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title">Contatc Person Phone</label>
              <input
                id="phoneNumber"
                type="text"
                pInputText
                formControlName="cPhoneNumber"
                mask="(000) 000-0000"
              />
              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.cPhoneNumber.touched &&
                  getControl.cPhoneNumber.errors?.required
                "
              >
                Phone Number is required.
              </small>
              <small
                class="form-container__sec-errmsg"
                *ngIf="
                  getControl.cPhoneNumber.touched &&
                  getControl.cPhoneNumber.invalid &&
                  !getControl.cPhoneNumber.errors?.required
                "
              >
                Phone Number is invalid.
              </small>
            </div>

            <div class="p-field p-col-12 p-md-4">
              <label class="label-title"
                >Select Contact Person Relationship</label
              >
              <p-dropdown
                inputId="relationship"
                [autoDisplayFirst]="false"
                [options]="relations"
                optionLable="name"
                formControlName="selectedRelationship"
                optionLabel="name"
              >
              </p-dropdown>
              <div
                *ngIf="
                  getControl.selectedRelationship.touched &&
                  getControl.selectedRelationship.invalid
                "
                class="text-danger"
              >
                <small
                  class="form-container__sec-errmsg"
                  *ngIf="getControl.selectedRelationship.errors?.required"
                >
                  Select an option.
                </small>
              </div>

              <ng-template pTemplate="selectedItem">
                <div
                  class="country-item country-item-value"
                  *ngIf="selectedRelationship"
                >
                  <div>{{ selectedRelationship.name }}</div>
                </div>
              </ng-template>
            </div>
          </div>
        </fieldset>

        <!-- Contact Person Details End -->

        <button
          type="submit"
          pButton
          [disabled]="caseWorkerProfileForm.invalid"
          label="Submit"
          class="p-button-outlined"
        ></button>
        &nbsp; &nbsp;
        <button
          type="button"
          (click)="resetForm()"
          pButton
          label="Cancel"
          class="p-button-outlined"
        ></button>
      </form>
    </div>
  </div>
</div>
