<p-toast position="top-right"></p-toast>
<div *ngIf="grayOut" id="overlay"></div>
<div class="center-spinner">
  <p-progressSpinner *ngIf="showSpinner" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="misc-container p-grid p-formgrid">
  <div class="card">
    <p-fileUpload
      [customUpload]="true"
      accept="application/pdf,image/*"
      chooseLabel="Browse"
      invalidFileTypeMessageDetail="Allowed file types: PDF, JPG, JPEG and PNG"
      invalidFileTypeMessageSummary="{0} Invalid file type! "
      [multiple]="false"
      [maxFileSize]="3000000"
      (uploadHandler)="uploadFile($event)"
    >
    </p-fileUpload>
  </div>
  <h3 >File Upload History</h3>
  <br />
  <div *ngIf="isFileUploaded === 'YES'" class="result-table card">
    <p-table
      [value]="tableValues"
      selectionMode="single"
      [scrollable]="true"
      scrollHeight="30vh"
      (onRowSelect)="selectFile($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="col.field" *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tableValue>
        <tr [pSelectableRow]="tableValue">
          <td *ngFor="let col of columns">
            {{ tableValue[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="isFileUploaded === 'NO'" class="card">
    <p style="color:red;text-align: center;">NO FILES UPLOADED YET</p>
  </div>
  <br />
  <img [src]="imageUrl" class="title-img">
</div>
