<p-toast position="top-right"></p-toast>
<div class="misc-container p-grid p-formgrid">
  <div class="card">
    <p-fileUpload
      [customUpload]="true"
      accept="application/pdf,image/*"
      chooseLabel="Browse"
      invalidFileTypeMessageDetail= "Allowed file types: PDF, JPG, JPEG and PNG"
      invalidFileTypeMessageSummary= "{0} Invalid file type! "
      [multiple]="false"
      [maxFileSize]="3000000"
      (uploadHandler)="uploadFile($event)"
    >
    </p-fileUpload>
  </div>
</div>
