@import "src/app/shared/styles/breakpoints.scss";

:host ::ng-deep .fc .fc-toolbar .fc-button.fc-listWeek-button.fc-button-active {
  background: #f3212c;
  border-color: #2196f3;
  color: #ffffff;
}
.calendar-container {
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  background: #ffffff;
}
@include mobile() {
  :host ::ng-deep .fc .fc-toolbar-title {
    font-size: 15px;
  }
}
.border {
  border: 1px solid red;
}
.calendar-header {
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(183, 183, 183, 1);

  .header--margin {
    margin: 15px 15px 0 0;
  }
  .calendar-header__top {
    margin-left: 11px;
    margin-bottom: 15px;
    display: flex;
  }

  .form-error {
    color: red;
  }

  .button--margin {
    margin: 15px 15px 0 0;
    margin-left: 8px;
  }

  .calendar-event__title {
    font-size: 20px;
    font-weight: bold;
  }
  .calendar-event__date {
    font-size: 16px;
  }
  .p-field {
    margin-bottom: 4px;
  }
}

.btn-text {
  font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgba(13, 93, 166, 1);
  padding-left: 5px;
  cursor: pointer;
}
.btn-col {
  color: rgba(13, 93, 166, 1);
  margin: 10px;
}
.user_input--color.ng-touched.ng-invalid {
  border-color: red;
}

//@include desktop() {
  :host ::ng-deep .p-datepicker{
    padding-top: 30px;
  }
//}

.participantAdd{
  margin-left: 7px;
}

::ng-deep .fc-event{
  cursor: pointer;
}