:host ::ng-deep .fc .fc-toolbar .fc-button.fc-listWeek-button.fc-button-active {
  background: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
}
:host ::ng-deep .fc .fc-toolbar .fc-button.fc-listWeek-button.fc-button-active:hover {
  background: #0d89ec;
  border-color: #0d89ec;
  color: #ffffff;
}

:host ::ng-deep .calendar-container {
  padding: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced4da;
  background: #ffffff;
  margin: 0 15px;
}

:host ::ng-deep .fc .fc-toolbar .fc-button.fc-listWeek-button {
  background: #ffffff;
  border: 1px solid #ced4da;
  color: #495057;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.mb-30 {
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  :host ::ng-deep .fc .fc-toolbar-title {
    font-size: 1.25em;
  }
}
