<main class="p-grid">
  <div class="p-col-12 mb-30">
    <app-item-header title="CALENDAR" color="blue"></app-item-header>
    <div class="calendar-header">
      <header class="p-grid header--margin">
        <div class="calendar-header__top">
          <section>
            <p-tabMenu #tab [model]="items" (click)="changeTag(tab)" [activeItem]="items[0]"></p-tabMenu>
          </section>
          <section>
            <i class="fa btn-col" (click)="addEvent()"><span class="btn-text">+ Add new</span></i>
          </section>
        </div>
        <!-- modal for add event / appointment starts -->
        <div class="calendar-header__addEvent">
          <p-dialog header="Add an {{ tagName }}" [(visible)]="display"
            [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [draggable]="false" [modal]="true"
            (onHide)="crossButton()">
            <form [formGroup]="eventsForm" (ngSubmit)="onSubmit()">
              <div class="p-fluid">
                <div class="p-field p-col-12 p-sm-12">
                  <p-calendar dateFormat="yy-mm-dd" formControlName="eventDate" dataType="string"
                    placeholder="Date (yyyy-mm-dd)" [minDate]="minDateValue">
                  </p-calendar>
                  <div *ngIf="
                      getControl.eventDate.touched &&
                      getControl.eventDate.invalid
                    ">
                    <small class="form-error"> Event Date is required. </small>
                  </div>
                </div>
                <div class="p-field p-col-12 p-sm-12">
                  <p-calendar formControlName="startTime" placeholder="Start Time" [timeOnly]="true" hourFormat="12">
                  </p-calendar>
                  <div *ngIf="
                      getControl.startTime.touched &&
                      getControl.startTime.invalid
                    ">
                    <small class="form-error"> Start Time is required. </small>
                  </div>
                </div>
                <div class="p-field p-col-12 p-sm-12">
                  <p-calendar formControlName="endTime" placeholder="End Time" [timeOnly]="true" hourFormat="12">
                  </p-calendar>
                  <div *ngIf="
                      getControl.endTime.touched && getControl.endTime.invalid
                    ">
                    <small class="form-error"> End Time is required. </small>
                  </div>
                </div>
                <div class="p-field p-col-12 p-sm-12">
                  <input type="text" formControlName="eventTitle" pInputText placeholder="Title"
                    class="user_input--color" />
                  <div *ngIf="
                      getControl.eventTitle.touched &&
                      getControl.eventTitle.invalid
                    ">
                    <small class="form-error"> Event Title is required. </small>
                  </div>
                </div>
                <div class="p-field p-col-12 p-sm-12">
                  <textarea placeholder="Description" [rows]="5" formControlName="eventDescription" [cols]="50"
                    class="user_input--color" pInputTextarea></textarea>
                  <div *ngIf="
                  getControl.eventDescription.touched &&
                  getControl.eventDescription.invalid"><small class="form-error">
                      Event Description is required.
                    </small></div>
                </div>
                <div class="p-field p-col-12 p-sm-12">
                  <h4>Participants ID:<span *ngIf="!participants.controls.length"> None</span></h4>
                  <div formArrayName="participants" *ngFor="let participant of participants.controls; let i = index"
                    class="p-col-12">
                    <div [formGroupName]="i">
                      <h4>Participant {{ i+1 }}</h4>
                      <div class="p-field p-col-12">
                        <input type="text" pInputText formControlName="name" placeholder="Participant">
                      </div>
                      <button type="button" pButton icon="pi pi-times"
                        class="p-buton-outlined p-button-rounded p-button-danger"
                        (click)="removeParticipant(i)"></button>
                    </div>
                  </div>
                  <button type="button" pButton icon="pi pi-plus" class="p-buton-outlined p-button-rounded participantAdd"
                    (click)="addParticipant()"></button>
                  <h5 style="color: red;" *ngIf="participantsExceeded">Maximum 20 participants should be there.</h5>
                </div>
              </div>
              <div class="button--margin">
                <button type="submit" pButton [disabled]="eventsForm.invalid">Submit</button>
                <p-button label="Cancel" (click)="onCancel()" styleClass="p-button-link"></p-button>
              </div>
            </form>
          </p-dialog>
        </div>
        <!-- modal for add event / appointment ends -->
      </header>
      <!-- "modal for event details starts" -->
      <p-dialog header="{{eventInfo[0]}} Details" [(visible)]="displayEvent"
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }" [draggable]="false" [modal]="true"
        [style]="{ width: '430px' }">
        <header>
          <p-toolbar class="calendar__eventDetails">
            <div class="p-toolbar-group-left">
              <div class="calendar-event__title">{{eventInfo[3]}}</div>
            </div>
            <div class="p-toolbar-group-right">
              <div class="calendar-event__date">
                On {{ eventInfo[4] | date: "shortDate" }}
              </div>
            </div>
          </p-toolbar>
        </header>
        <p-divider></p-divider>
        <div>
          From {{eventInfo[1] | date: "shortTime" }} to {{eventInfo[2] | date : "shortTime"}}
        </div>
        <div>
          <p class="event-description">
            {{ eventInfo[5] }}
          </p>
        </div>
      </p-dialog>
      <!-- "modal for event details ends" -->
      <full-calendar [options]="calendarOptions" class="calendar-container"></full-calendar>
    </div>
  </div>
  <app-secure-message-center></app-secure-message-center>
</main>