.form-container {
    margin: 0 15px;
    padding: 20px 20px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(183, 183, 183, 1);
  }
.h3-margin{
    position: relative;
    bottom: 30px;
    font-weight: lighter;
}
.p-fluid{
    margin-bottom: -60px;
}
:host ::ng-deep .p-accordion .p-accordion-header .p-accordion-header-link {
  
    color: black;
    font-family: "Roboto Medium", "Roboto Regular", "Roboto";
    font-weight: 500;
   
}
label{
    font-family:"Roboto Medium", "Roboto Regular", "Roboto";
    font-weight: 500; 
}