.item-header {
  background-image: linear-gradient(
    270deg,
    rgb(227, 42, 47) 35%,
    rgb(151, 31, 31) 79%
  );
}

.form-container {
  margin: 0 15px;
  padding: 20px 20px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(183, 183, 183, 1);
}

