<div *ngIf="showGrayOut" id="overlay"></div>
<div  class="center-spinner">
  <p-progressSpinner *ngIf="isShowSpinner" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="p-grid">
  <div class="p-col-12 mb-30">
    <app-item-header title="CALENDAR" color="blue"></app-item-header>
    <div class="calendar-header">
      <!-- "modal for event details starts" -->
      <p-dialog
        header="{{ eventInfo[0] }} Details"
        [(visible)]="displayEvent"
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        [draggable]="false"
        [modal]="true"
        [style]="{ width: '430px' }"
      >
        <header>
          <p-toolbar class="calendar__eventDetails">
            <div class="p-toolbar-group-left">
              <div class="calendar-event__title">{{ eventInfo[3] }}</div>
            </div>
            <div class="p-toolbar-group-right">
              <div class="calendar-event__date">
                On {{ eventInfo[4] | date: "shortDate" }}
              </div>
            </div>
          </p-toolbar>
        </header>
        <p-divider></p-divider>
        <div>
          From {{ eventInfo[1] | date: "shortTime" }} to
          {{ eventInfo[2] | date: "shortTime" }}
        </div>
        <div>
          <p class="event-description">
            {{ eventInfo[5] }}
          </p>
        </div>
      </p-dialog>
      <!-- "modal for event details ends" -->
      <full-calendar
        [options]="calendarOptions"
        class="calendar-container"
      ></full-calendar>
    </div>
  </div>
  <app-progress-notes class="p-col-12 p-lg-6"></app-progress-notes>
  <app-transportation-request-form
    class="p-col-12 p-lg-6"
  ></app-transportation-request-form>
</div>
