<div class="container">
  <div class="search-header"><span>Transportation Request</span></div>
  <div class="result-table">
    <p-table
  
  
      class="title"
      [value]="tableValues"
      selectionMode="single"
      [(selection)]="selectedResident"
  [scrollable]="true"
      scrollHeight="30vh"
    >
      <ng-template pTemplate="header" class="label-title" >
        <tr>
          <th pSortableColumn="firstname" class="label-title">
            Firstname <p-sortIcon field="first_name"></p-sortIcon>
          </th>
          <th pSortableColumn="lastname" class="label-title">
            Lastname <p-sortIcon field="last_name"></p-sortIcon>
          </th>
          <th pSortableColumn="address" class="label-title">
            Address <p-sortIcon field="pick_up_address_main"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user class="title">
        <tr [pSelectableRow]="user">
          <td *ngFor="let col of columns" class="label-title">
            {{ user[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="resident-detail-container card" *ngIf="selectedResident">
    <app-cw-transport-request
      [requestFormObject]="selectedResident"
      *ngIf="selectedResident"
    ></app-cw-transport-request>
  </div>
</div>
