.search-header {
    padding-top: 20px;
    padding-left: 10px;
    height: 440px;
    color: #fff;
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin-bottom: -360px;
    border-radius: 14px 14px 0px 0px;
    background-image: linear-gradient(270deg, rgb(130, 129, 176) 0%, rgb(41, 42, 102) 100%);
    @media screen and (min-width: 768px) {
      height: 230px;
      margin-bottom: -150px;
    }
  }
  
  .container {
    margin-bottom: 50px;
  }
  
  .result-table {
    padding: 0 20px;
    margin-top: 20px;
  }
  