.header {
  margin-bottom: 30px;
  display: flex;
}

.header-title {
  margin-right: 20px;
  width: auto;
}

.header-sub {
  width: 600px;
}

.fas {
  color: #0d89ec;
}

.chat {
  padding-top: 10px;
}

.title {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 250;
  color: black;
}

.title-name {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 400;
  color: black;
}

.title-img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-right: 20px;
}

.last-login {
  padding-top: 20px;
  font-style: italic;
  font-weight: lighter;
}

::ng-deep .p-tooltip .p-tooltip-text {
  background-color: white;
  color: blue;
  font-size: small;
}

:host ::ng-deep .fc .fc-toolbar .fc-button.fc-listWeek-button.fc-button-active {
  background: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .title-img {
    margin-top: 10px;
  }

  .header {
    display: block;
  }

  .header-sub {
    width: 400px;

    margin-left: 70px;
  }
}
