<div class="header">
  <div class="p-d-flex header-title">
    <div>
      <img src="{{ image }}" class="title-img" />
    </div>

    <div>
      <span class="title">Welcome back </span>
      <span class="title-name">{{ name }}</span
      ><span class="title">!</span>
    </div>
  </div>

  <div class="header-sub p-d-flex p-jc-between">
    <div class="last-login">Last login:{{ date }}</div>

    <div class="chat">
      <button
        pButton
        type="button"
        label="Chat"
        icon="fas fa-comment"
        iconPos="right"
        tooltipStyleClass="abc"
        pTooltip="Non-emergency text. Person may be caseworker depending on hours."
        tooltipPosition="top"
        class="p-button-text p-button-text"
      ></button>
    </div>
  </div>
</div>
