<div *ngIf="showOverlay" id="overlay"></div>
<p-toast position="top-center"></p-toast>
<div class="center-spinner">
  <p-progressSpinner *ngIf="isShowSpinner" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="p-grid">
  <div class="p-col-12">
    <app-item-header title="HEALTH TRACKER"></app-item-header>
    <div class="form-container">
      <div class="p-p-4" style="background: #efefef">
        <div class="p-mb-3 subheader">
          Select which subjects you need to track:
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="weight"
              label="Weight"
              [binary]="true"
              [(ngModel)]="showWeight"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="temperature"
              label="Temperature"
              [binary]="true"
              [(ngModel)]="showTemperature"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="bloodPressure"
              label="Blood Pressure"
              [binary]="true"
              [(ngModel)]="showBloodPressure"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="bmi"
              label="BMI"
              [binary]="true"
              [(ngModel)]="showBmi"
            ></p-checkbox>
          </div>
        </div>

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="drugScreen"
              label="Drug Screen"
              [binary]="true"
              [(ngModel)]="showDrugScreen"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="breathalyzer"
              label="Breathalyzer"
              [binary]="true"
              [(ngModel)]="showBreathalyzer"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="bloodSugar"
              label="Blood Sugar"
              [binary]="true"
              [(ngModel)]="showBloodSugar"
            ></p-checkbox>
          </div>
          <div class="p-col-12 p-md-3 p-field-checkbox">
            <p-checkbox
              name="other"
              label="Other"
              [binary]="true"
              [(ngModel)]="showOther"
            ></p-checkbox>
          </div>
        </div>
      </div>

      <form [formGroup]="healthTrackerForm" (ngSubmit)="onSubmit()">
        <div class="form-group p-d-flex">
          <div formGroupName="weight" *ngIf="showWeight" class="p-col-3">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>Weight</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('weight.date')?.errors?.required && healthTrackerForm.get('weight.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('weight.measurement')?.errors?.required && healthTrackerForm.get('weight.measurement')?.touched">Measurement
is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('weight.comments')?.errors?.required && healthTrackerForm.get('weight.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>

          <div
            formGroupName="temperature"
            *ngIf="showTemperature"
            class="p-col-3"
          >
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>Temperature</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('temperature.date')?.errors?.required && healthTrackerForm.get('temperature.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('temperature.measurement')?.errors?.required && healthTrackerForm.get('temperature.measurement')?.touched">Measurement
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('temperature.comments')?.errors?.required && healthTrackerForm.get('temperature.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>

          <div
            formGroupName="bloodPressure"
            *ngIf="showBloodPressure"
            class="p-col-3"
          >
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>Blood Pressure</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('bloodPressure.date')?.errors?.required && healthTrackerForm.get('bloodPressure.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('bloodPressure.measurement')?.errors?.required && healthTrackerForm.get('bloodPressure.measurement')?.touched">Measurement
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('bloodPressure.comments')?.errors?.required && healthTrackerForm.get('bloodPressure.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>

          <div formGroupName="BMI" *ngIf="showBmi" class="p-col-3">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>BMI</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('BMI.date')?.errors?.required && healthTrackerForm.get('BMI.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('BMI.measurement')?.errors?.required && healthTrackerForm.get('BMI.measurement')?.touched">Measurement
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('BMI.comments')?.errors?.required && healthTrackerForm.get('BMI.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>

          <div
            formGroupName="drugScreen"
            *ngIf="showDrugScreen"
            class="p-col-3"
          >
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>Drug Screen</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('drugScreen.date')?.errors?.required && healthTrackerForm.get('drugScreen.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('drugScreen.measurement')?.errors?.required && healthTrackerForm.get('drugScreen.measurement')?.touched">Measurement
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('drugScreen.comments')?.errors?.required && healthTrackerForm.get('drugScreen.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>

          <div
            formGroupName="breathalyzer"
            *ngIf="showBreathalyzer"
            class="p-col-3"
          >
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>Breathalyzer</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('breathalyzer.date')?.errors?.required && healthTrackerForm.get('breathalyzer.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('breathalyzer.measurement')?.errors?.required && healthTrackerForm.get('breathalyzer.measurement')?.touched">Measurement
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('breathalyzer.comments')?.errors?.required && healthTrackerForm.get('breathalyzer.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>

          <div
            formGroupName="bloodSugar"
            *ngIf="showBloodSugar"
            class="p-col-3"
          >
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>Blood Sugar</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('bloodSugar.date')?.errors?.required && healthTrackerForm.get('bloodSugar.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('bloodSugar.measurement')?.errors?.required && healthTrackerForm.get('bloodSugar.measurement')?.touched">Measurement
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('bloodSugar.comments')?.errors?.required && healthTrackerForm.get('bloodSugar.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>

          <div formGroupName="other" *ngIf="showOther" class="p-col-3">
            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <div class="title-container" style="background: #971f1f">
                  <p>
                    <span>Other</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <p-calendar
                  formControlName="date"
                  [inline]="false"
                  [showIcon]="true"
                  placeholder="Date (mm/dd/yyyy)"
                  dataType="string"
                ></p-calendar>
                <small class="error"
                *ngIf="healthTrackerForm.get('other.date')?.errors?.required && healthTrackerForm.get('other.date')?.touched">Date
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <input
                  type="text"
                  pInputText
                  formControlName="measurement"
                  placeholder="Measurement"
                />
                <small class="error"
                *ngIf="healthTrackerForm.get('other.measurement')?.errors?.required && healthTrackerForm.get('other.measurement')?.touched">Measurement
                is required.</small>
              </div>
            </div>

            <div class="p-fluid p-formgrid p-grid">
              <div class="p-field p-col-12 p-md-12">
                <textarea
                  [rows]="10"
                  formControlName="comments"
                  pInputTextarea
                  placeholder="Comment"
                ></textarea>
                <small class="error"
                *ngIf="healthTrackerForm.get('other.comments')?.errors?.required && healthTrackerForm.get('other.comments')?.touched">Comments
                is required.</small>
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          pButton
          label="Submit"
          class="p-button-outlined"
          style="margin-top: 10px"
        ></button>
        &nbsp; &nbsp;
        <button
          type="button"
          (click)="resetForm()"
          pButton 
          label="Cancel"
          class="p-button-outlined"
        ></button>
        <!-- <p-button label="Cancel" styleClass="p-button-link" style="margin-top: 10px;"></p-button> -->
      </form>
      <br>
      <br>
      <!-- table start -->
      <!-- Weight Table -->
      <div *ngIf="showWeight" class="weight-table">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 ">
          <div class="title-container" style="background: #971f1f">
            <p>
              <span>Weight</span>
            </p>
          </div>
        </div>
      </div>
      <p-table [columns]="cols" [value]="tableWeightValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
          </ng-template>
          <ng-template  pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br>
  </div>
  <!-- Temperature Table -->
  <div *ngIf="showTemperature" class="temperature-table">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 ">
        <div class="title-container" style="background: #971f1f">
          <p>
            <span>Temperature</span>
          </p>
        </div>
      </div>
    </div>
    <p-table [columns]="cols" [value]="tableTemperatureValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
          </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                  {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
  </p-table>
  <br>
</div>
<!-- Blood Pressure Table -->
<div *ngIf="showBloodPressure" class="blood-pressure-table">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 ">
      <div class="title-container" style="background: #971f1f">
        <p>
          <span>Blood Pressure</span>
        </p>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="tableBloodPressureValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>
<!-- Drug Screen Table -->
<div *ngIf="showDrugScreen" class="drug-screen-table">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 ">
      <div class="title-container" style="background: #971f1f">
        <p>
          <span>Drug Screen</span>
        </p>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="tableDrugScreenValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>
<!-- Breathalyzer Table -->
<div *ngIf="showBreathalyzer" class="breathalyzer-table">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 ">
      <div class="title-container" style="background: #971f1f">
        <p>
          <span>Breathalyzer</span>
        </p>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="tableBreathalyzerValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>
<!-- Blood Sugar Table -->
<div *ngIf="showBloodSugar" class="blood-sugar-table">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 ">
      <div class="title-container" style="background: #971f1f">
        <p>
          <span>Blood Sugar</span>
        </p>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="tableBloodSugarValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>
<!-- BMI Table -->
<div *ngIf="showBmi" class="bmi-table">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 ">
      <div class="title-container" style="background: #971f1f">
        <p>
          <span>BMI</span>
        </p>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="tableBmiValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>
<!-- Other Table -->
<div *ngIf="showOther" class="other-table">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 ">
      <div class="title-container" style="background: #971f1f">
        <p>
          <span>Other</span>
        </p>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="tableOtherValues" styleClass="p-datatable-sm" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>
      <!-- table end -->
    </div>
  </div>
</div>
