  
  .form-container {
    margin: 0 15px;
    padding: 20px 20px;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(183, 183, 183, 1);
  }

  .form-group {
    flex-wrap:  wrap;
  }
  
  .title {
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #222222;
    line-height: 32px;
  }
  
  .heading {
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #a00000;
  }
  
  .title-container {
    background-color: rgba(55, 66, 74, 1);
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    height: 43px;
    p {
      color: rgba(255, 255, 255, 0.996078431372549);
      padding: 10px 0px 0px 20px;
      text-decoration: none;
    }
  }
  
  .vertical-container {
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
  }
  
  p-checkbox {
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }

  .subheader {
    font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }