<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/transportForm.js"></script>
<link rel="stylesheet" href="css/veterans.css">
<body>

  <form  class="simple-form">
      <input type="text" ng-model="" /><br /> <!--Last Name-->
      <input type="email" ng-model="" /><br /><!--First Name-->
      <input type="text" ng-model="" /><br /><!--Reason for Request-->
      <input type="date" ng-model="user.email" /><br /><!--date-->
      <select id="transportReqTime" name="transportReqTime"><!--time dropDown-->
        <option value="t1">8:00 am</option>
        <option value="t2">10:00 am</option>
        <option value="t3">12:00 pm</option>
        <option value="t4">1:00 pm</option>
      </select>
      <input type="text" ng-model="" /><br /><!--address-->
      <select id="transportReqState" name="transportReqState"><!--time dropDown-->
        <option value="t1">8:00 am</option>
        <option value="t2">10:00 am</option>
        <option value="t3">12:00 pm</option>
        <option value="t4">1:00 pm</option>
      </select><br /><!--State-->
      <input type="text" ng-model="" /><br /><!--zipcode-->
       <input type="button" ng-click="" value="Submit" />
       <input type="submit" ng-click="" value="Cancel" />
   </form>




</body><!--body-->
</html><!--html-->
