<div class="main-title">
  <img src="assets/scLogo.webp" alt="The Servant Center">
  <h1 >Welcome to the Servant Center landing page!</h1>

  <div class="container">
    <div class="row">
      <div class="col">
        Column 1
      </div>
      <div class="col">
        column 2
      </div>
      <div class="col">
        Column 3
      </div>
    </div>
    <div class="row">
      <div class="col">
        Here is another thing that goes here
      </div>
    </div>
    <div class="row">
      <div class="col">
        Pizza 1
      </div>
      <div class="col">
        Pizza 2
      </div>
    </div>
  </div>
</div>
