<!-- <div class="main-title"> -->
<!-- <img src="assets/scLogo.webp" alt="The Servant Center">
  <h1 >Welcome to the Servant Center landing page!</h1> -->

<div class="container">
  <div class="row">
    <div class="col">
      <app-sc-dashboard-widget>
        <h4 header>Something</h4>
        <ng-container ngProjectAs="[body]">
          <h5>Something goes here</h5>
          <p>and this is the body to what goes here</p>
        </ng-container>
      </app-sc-dashboard-widget>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <app-sc-dashboard-widget>
        <h4 header>This is the heading</h4>
        <ng-container ngProjectAs="[body]">
          <p>{{sampleBody}}</p>
        </ng-container>
      </app-sc-dashboard-widget>
    </div>
    <div class="col">
      <app-sc-dashboard-widget>
        <h4 header>This is the heading</h4>
        <ng-container ngProjectAs="[body]">
          <p>{{sampleBody}}</p>
        </ng-container>
      </app-sc-dashboard-widget>
    </div>
    <div class="col">
      <app-sc-dashboard-widget>
        <h4 header>This is the heading</h4>
        <ng-container ngProjectAs="[body]">
          <p>{{sampleBody}}</p>
        </ng-container>
      </app-sc-dashboard-widget>
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <app-sc-dashboard-widget>
        <h4 header>Box 2</h4>
        <ng-container ngProjectAs="[body]">
          <p>I'm going to put some content in here</p>
          <br>
          <p>and then I am going to put some more content in here</p>
        </ng-container>
      </app-sc-dashboard-widget>
    </div>
    <div class="col">
      <app-sc-dashboard-widget>

        <h4 header>Box 3</h4>
        <ng-container ngProjectAs="[body]">
          <p>{{ sampleBody }}</p>
        </ng-container>
      </app-sc-dashboard-widget>
    </div>
  </div>
</div>
<div class="footer">
  <p>&copy;The Servant Center 2021</p>
</div>