<p-toast position="top-center"></p-toast>
<div *ngIf="greyingOut" id="overlay"> </div>
<div class="center-spinner">
  <p-progressSpinner *ngIf="ia2" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5"
    fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="page1-form-container p-mt-4">
  <form [formGroup]="page2Form" (ngSubmit)="onSubmit()" *ngIf="page2Form">
    <h3>Employment and Education History <i>( <span style="color: red;">*</span> mandatory fields)</i></h3>
    <div class="p-fluid p-formgrid p-grid" formGroupName="educationAndEmploymentHistory">
      <div class="p-field p-col-12 p-md-6">
        <span class="label-title">Current Occupation</span>
        <input type="text" pInputText formControlName=currentJob placeholder="Skills">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="label-title">Previous Occupation</span>
        <input type="text" pInputText formControlName=mostRecentJob placeholder="Job">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="label-title">Highest Grade Completed</span>
        <input type="text" min="1" max="18" pInputText formControlName=highestGradeCompleted placeholder="Grade">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="label-title">Name and Location of Schooll</span>
        <input type="text" pInputText formControlName=nameAndLocation placeholder="School Name">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="label-title">Other Training and/or Skills</span>
        <input type="text" pInputText formControlName=otherTrainingOrSkills placeholder="Other Skills">
      </div>
      <div class="p-field p-col-12 p-md-6">
        <span class="label-title">Job Employed in the Longest</span>
        <input type="text" pInputText formControlName=jobEmployedInLongest placeholder="in the Longest">
      </div>
      <!-- military service -->
      <div class="p-field p-md-4">
        <div class="p-col-12 p-formgroup-inline">
          <label class="p-mr-3 radiobutton-group-label">Military? </label>
          <div *ngFor="let militaryService of military; let i = index" class="p-field-radiobutton">
            <p-radioButton name="military" formControlName=military [value]=militaryService.value
              inputId="militaryService{{i}}"></p-radioButton>
            <label for="militaryService{{i}}" class="p-ml-3">{{militaryService.label}}</label>
          </div>
        </div>
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Branch</span>
        <input type="text" pInputText formControlName=branch placeholder="Branch">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Type of Discharge</span>
        <input type="text" pInputText formControlName=typeOfDischarge placeholder="Type of Discharge">
      </div>
      <!-- <div class="p-field p-md-4">
        <span class="label-title">Dates of Service</span> -->
      <!-- <p-calendar formControlName=serviceDate [inline]=false [showIcon]=true placeholder="Dates of Service"></p-calendar> -->
      <!-- <input type="text" pInputText formControlName=serviceDate placeholder="Date" [readonly]="true">
      </div> -->
      <div class="p-field p-md-6">
        <span class="label-title">Service Date</span>
        <!-- <input pInputText formControlName="serviceDate" type="text" placeholder="date">  -->
        <p-calendar formControlName="serviceDate" [inline]=false [showIcon]=true placeholder="Date"></p-calendar>
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Service Location</span>
        <input type="text" pInputText formControlName=serviceLocation placeholder="Service Location">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Other Training or Education</span>
        <input type="text" pInputText formControlName=otherTrainingEducation placeholder="Other Training or Education">
      </div>
      <div class="p-field p-md-6">
        <span class="label-title">Current Employer</span>
        <input type="text" pInputText formControlName=currentEmployer placeholder="Current Employer">
      </div>
      <div class="p-field p-md-6">
        <span class="label-title">Current Employer Location</span>
        <input type="text" pInputText formControlName=currentEmployerLocation placeholder="Current Employer Location">
      </div>
    </div>
    <h3>Mental Health Information <i>( <span style="color: red;">*</span> mandatory fields)</i></h3>
    <div class="p-fluid p-formgrid p-grid" formGroupName="mentalHealthInformation">
      <div class="p-field p-md-6">
        <span class="label-title">Diagnosis</span>
        <input type="text" pInputText formControlName=diagnosis placeholder="Diagnosis">
      </div>
      <div class="p-field p-md-6">
        <span class="label-title">Current Psychiatric Treatment</span>
        <input type="text" pInputText formControlName=currentPsychiatricTreatment placeholder="Current Treatment">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Name of Psychiatrist/Therapist</span>
        <input type="text" pInputText formControlName=psychiatristName placeholder="Name">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Address of Psychiatrist/Therapist</span>
        <input type="text" pInputText formControlName=psychiatristAddress placeholder="Address">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">City and State</span>
        <input type="text" pInputText formControlName=psychiatristCityState placeholder="City and State">
      </div>
      <div class="p-field p-md-6">
        <span class="label-title">Past Inpatient, Outpatient and/or Psychiatric Hospitalization</span>
        <input type="text" pInputText formControlName=pastTreatments placeholder="History">
      </div>
      <!-- Need psychiatrist cunsultant -->
      <div class="p-field p-md-6">
        <div class="p-col-12 p-formgroup-inline">
          <label class="p-mr-3 radiobutton-group-label">Does Client need a Psychiatrist Cunsultant? </label>
          <div *ngFor="let militaryService of needPsychiatricCunsultant; let i = index" class="p-field-radiobutton">
            <p-radioButton name="needPsychiatricCunsultant" formControlName=needPsychiatricCunsultant
              [value]=militaryService.value inputId="militaryService{{i}}"></p-radioButton>
            <label for="militaryService{{i}}" class="p-ml-3">{{militaryService.label}}</label>
          </div>
        </div>
      </div>
      <!-- Date scheduled -->
      <!-- <div class="p-field p-md-4">
        <span class="label-title">Date</span> -->
      <!-- <p-calendar formControlName=dateScheduled [inline]=false [showIcon]=true placeholder="Date Scheduled"></p-calendar> -->
      <!-- <input type="text" pInputText formControlName=dateScheduled placeholder="Date" [readonly]="true">
      </div> -->
      <!-- name and address of eveluator -->
      <div class="p-field p-md-4">
        <span class="label-title">Name of Physician Completing Psych Evaluation</span>
        <input type="text" pInputText formControlName=psychEvaluatorName placeholder="Physician Name">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Address of Physician Completing Psych Evaluation</span>
        <input type="text" pInputText formControlName=psychEvaluatorAddress placeholder="Physcian Address">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">City</span>
        <input type="text" pInputText formControlName=psychEvaluatorCity placeholder="City">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">State</span>
        <input type="text" pInputText formControlName=psychEvaluatorState placeholder="State">
      </div>
      <div class="p-field p-md-4">
        <span class="label-title">Zip Code</span>
        <input type="text" pInputText formControlName=psychEvaluatorZipcode placeholder="Zipcode">
      </div>
      <div class="p-field p-md-12">
        <span class="label-title">License of Physician Completing Psych Evaluation</span>
        <input type="text" pInputText formControlName=psychEvaluatorLicense placeholder="License">
      </div>
    </div>
    <div class="p-d-flex button-container p-mt-4">
      <div class="p-jc-start">
        <button type="submit" pButton label="Save" [disabled]="!this.page2Form.touched"></button>
        <button type="button" pButton label="Cancel" class="p-button-outlined p-ml-2" (click)="reset()"></button>
      </div>
      <div class="p-jc-end">
        <button type="button" pButton label="Back" (click)="goBack()"></button>
        <button type="button" (click)="next()" pButton label="Next" class="p-button-inlined p-ml-2"></button>
      </div>
    </div>
  </form>
</div>