.radiobutton-group-label {
  font-size: 18px;
}

.error{
  color: red;
}
.famButton{
  background-color: green;
  border: none;
  cursor: pointer;
}
.famButton:disabled{
  background-color: grey;
}
.famButton:hover{
  background-color: white;
  color: green;
  text-align: center;
}
.famButtonR{
  background-color: red;
  border: none;
  text-align: center;
  cursor: pointer;
}
.famButtonR:hover{
  background-color: white;
  color: red;
  text-align: center;
}
.famButtonR:disabled{
  background-color: grey;
}

.famButtonE{
    background-color: orange;
    border: none;
    color: white;
    cursor: pointer;
}

.famButtonE:hover{
  background-color: white;
  color: orange;
}
.famButtonE:disabled{
  background-color: grey;
}
.famButtonCancel{
  background-color: red;
  color: white;
  border: none;
}

.famButtonCancel:hover{
  background-color: white;
  color: red;
}

.editBox{
  width: 50px;
}

.editCell{
  width: 50px;
}