<nb-layout>

  <nb-layout-header fixed class="main-header">
    <h2>MyServantCenter</h2>
  </nb-layout-header>

  <nb-sidebar tag="left">
    <!-- <button nbButton status="basic" size="small" (click)="toggleCompact()"><nb-icon icon="menu-outline"></nb-icon></button> -->
    <div>
      <nav>
        <span>
          <h5 (click)='redirectHome()' class="dashboard"><nb-icon icon="calendar-outline" status="danger" size="large"></nb-icon> Dashboard</h5>
        </span>
        <span>
          <h5 (click)='redirectAssessment()' class="assessment"><nb-icon icon="file-text-outline" status="warning" size="medium"></nb-icon> Assessment</h5>
        </span>
        <span>
          <h5 (click)='redirectPlan()' class="plan"><nb-icon icon="star-outline" status="primary" size="medium"></nb-icon> Treatment Plan</h5>
        </span>
        <span>
          <h5 (click)='redirectTracker()' class="tracker"><nb-icon icon="heart-outline" status="success" size="medium"></nb-icon> Health Tracker</h5>
        </span>
        <span>
          <h5 (click)='redirectProfile()' class="profile"><nb-icon icon="person-outline" status="info" size="medium"></nb-icon> Profile</h5>
        </span>
      </nav>
    </div>
  </nb-sidebar>

  <nb-layout-column>
    <!-- <div class="main-title">
      <img src="assets/scLogo.webp" alt="The Servant Center">
      <h1 >Welcome to the Servant Center landing page!</h1>
      <button (click)="toggleIsOpen()">open/close active day</button>
    
    
      <app-calendar></app-calendar>
    
    </div> -->
    
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  Temp Footer
  </nb-layout-footer>

</nb-layout>
