.footer-div {
  background-color: rgba(41, 42, 102, 1);
  font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.996078431372549);
  font-weight: 500;
  font-size: 18px;
  height: 170px;
  padding: 30px;
  word-wrap: break-word;
}
