<form [formGroup]="page5Form" (ngSubmit)="onSubmit()" *ngIf="page5Form">
  <h3>Preliminary Treatment Goals</h3>
  <div class="p-fluid p-formgrid p-grid" formGroupName="preliminaryTreatmentGoals">
    <div class="p-field p-md-12">
      <span class="label-title">What has Happened in My Life this Past Year?</span>
      <input type="text" pInputText formControlName=hppenedInMyLifeLastYear
        placeholder="Include exciting, fun things as well as challenges and concerns">
    </div>
    <div class="p-field p-md-6">
      <span class="label-title">Short Term Goals:</span>
      <input type="text" pInputText formControlName=shortTermGoals placeholder="Immediate concerns for the First Year">
    </div>
    <div class="p-field p-md-6">
      <span class="label-title">Long Term Goals:</span>
      <input type="text" pInputText formControlName=longTermGoals
        placeholder="For the next year and Hopes for the Future">
    </div>
    <div class="p-field p-md-12">
      <span class="label-title">Strengths and Resources:</span>
      <input type="text" pInputText formControlName=strengthAndResources
        placeholder="What am I good at doing? What do people admire about me?">
    </div>
    <div class="p-field p-md-12">
      <span class="label-title">Preferences:</span>
      <input type="text" pInputText formControlName=preferences
        placeholder="What is important to me? What are the people/activities/things/places that matter to me in everyday life? What I don't want in my life?">
    </div>
    <div class="p-field p-md-12">
      <span class="label-title">Needs:</span>
      <input type="text" pInputText formControlName=needs
        placeholder="What would I change about my life? What is not working in my lefe? What do I need in order to be an active part of my community? What do I need to be healthy and safe?">
    </div>
    <div class="p-field p-md-12">
      <span class="label-title">Supports:</span>
      <input type="text" pInputText formControlName=supports
        placeholder="What do others need to know or do to support me best in relationships, in things I like to do, in work or school and ways to stay healthy and safe?">
    </div>
    <div class="p-field p-md-6">
      <span class="label-title">Additional Comments:</span>
      <textarea type="text" pInputText formControlName=additionalComments placeholder="Comments"></textarea>
    </div>
  </div>
  <!-- save -->
  <div class="p-d-flex button-container p-mt-4">
    <div class="p-jc-start">
      <button type="submit" pButton label="Save" [disabled]="true"></button>
      <button type="button" pButton label="Cancel" class="p-button-outlined p-ml-2"></button>
    </div>
    <div class="p-jc-end">
      <button type="button" pButton label="Back" (click)="goBack()"></button>
    </div>
  </div>
</form>