<div id="messageCenter" ng-app="" ng-controller="">

  <div id="messageCenterItems">

    <div id="messageCenterItems_top">
      <div id="messageCenterItems_top_left">
      </div>

      <div id="messageCenterItems_top_right">
      </div>
    </div>

    <div id="messageCenterItems_bottom">
      <div id="messageCenterItems_bottom_items">
        <div id="messageCenterItems_bottom_items_subj">
        </div>

        <div id="messageCenterItems_bottom_items_from">
        </div>

        <div id="messageCenterItems_bottom_items_dateReceived">
        </div>
      </div>
    </div>

  </div><!--messageCenter-->

</div><!--messageCenter-->
<!-- <app-calendar></app-calendar> -->
