/* You can add global styles to this file, and also import other style files */
@import url(//fonts.googleapis.com/css?family=Roboto:100,400,300,500,700,500italic,400italic,300italic|Roboto+Condensed:400,300|Roboto+Slab:300);
body {
  min-width: fit-content;
}

.button-container {
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.ui-tooltip .ui-tooltip-text {
  background-color: red !important;
}

// consent modal - start

#consent-modal .p-dialog .p-dialog-content {
  overflow: hidden;
}

#consent-modal .p-dialog .p-dialog-title {
  font-family: "Roboto", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 300;
  color: #822433;
}
@media (max-width: 768px) {
  #consent-modal .p-dialog .p-dialog-title {
    font-size: 25px;
  }
}

// consent modal - end

//progress notes -start

#progress-notes--mainToolbar .p-toolbar {
  padding: 0px;
  padding-bottom: 0px;
  background: #fff;
  border: none;
}

//progress notes -end
