.item-header {
  background-image: linear-gradient(270deg, rgb(227, 42, 47) 35%, rgb(151, 31, 31) 79%);
}

.form-container {
  margin: 0 15px;
  height: 372px;
  padding: 20px 20px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(183, 183, 183, 1);
  overflow-y: scroll;
}

.disable {
  pointer-events: none;
  margin-bottom: 10px;
  background-color: #efefef;
  font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
}

.error {
  color: red;
}
.inputFromUser.ng-touched.ng-invalid {
  border: 1px solid red;
}

.p-button-disabled{
  color: grey !important;
}

.input-cal{
  display: block !important;
  border-radius: 4px;
}

// .other.p-inputtext.ng-touched.ng-invalid {
//   border: 1px solid red;
// }

:host ::ng-deep .p-dropdown-panel{
  width: 100%;
}
:host ::ng-deep .p-dropdown-item{
  white-space: normal;
}