<!-- <div id="overlay"></div> -->
<p-toast position="top-center"></p-toast>
<app-item-header [title]="formTitle"></app-item-header>
<div class="form-container">
  <form
    *ngIf="transportRequestForm"
    [formGroup]="transportRequestForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="firstName" class="label-title">First Name</label>
        <input
          type="text"
          pInputText
         
          placeholder="First Name"
          formControlName="firstName"
          class="disable"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="lastName" class="label-title">Last Name</label>
        <input
          type="text"
          pInputText
         
          placeholder="Last Name"
          formControlName="lastName"
          class="disable"
        />
      </div>
    </div>
    <div class="p-field p-fluid">
      <input
        type="text"
        pInputText
        formControlName="reason"
        placeholder="Reason for request"
        maxlength="30"
        customAttr="textWithSpace"
        class="inputFromUser"
      />
      <small class="error" *ngIf="reason?.invalid && reason?.touched"
        >Reason is required.</small
      >
    </div>
    <p-divider></p-divider>
    <!-- <div class="p-fluid p-formgrid p-grid"> -->
    <div class="p-field p-fluid">
      <p-calendar
        appendTo="body" 
        formControlName="appointmentDate"
        [inline]="false"
        [showIcon]="true"
        placeholder="Appointment Date (dd/mm/yyyy)"
        class="input-cal"
        [minDate]="minDateValue"
      ></p-calendar>
      <small
        class="error"
        *ngIf="appointmentDate?.invalid && appointmentDate?.touched"
        >Appointment date is required.</small
      >
    </div>
    <div class="p-field p-fluid">
      <p-calendar
        formControlName="time"
        [timeOnly]="true"
        hourFormat="12"
        placeholder="Time"
        [showIcon]="true"
        icon="pi pi-angle-down"
        class="input-cal"
      ></p-calendar>
      <small class="error" *ngIf="time?.invalid && time?.touched"
        >Time is required.</small
      >
    </div>
    
    <!-- </div> -->
    <div class="p-field p-fluid">
      <p-dropdown
      placeholder="Destination Address"
      [autoDisplayFirst]="false"
      [options]="destinationAddresses"
      formControlName="destinationAddress"
      optionLabel="name"
      scrollHeight="120px"
      (onChange)="onChange($event)"
      class="inputFromUser input-cal"
    >
    </p-dropdown>

      <small
        class="error"
        *ngIf="destinationAddress?.invalid && destinationAddress?.touched"
        >Destination address is required.</small
      >
    </div>
    
    <div class="p-field p-fluid" *ngIf="showOtherAddressTextBox">
      <input
      type="text"
      pInputText
      formControlName="destinationAddress2"
      placeholder="Other Address"
      class="inputFromUser"
    />

      <small
        class="error"
        *ngIf="destinationAddress2?.invalid && destinationAddress2?.touched"
        >Destination address is required.</small
      >
    </div>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-8 p-md-5">
        <!-- <label for="city" class="label-title">City</label> -->
        <input
          type="text"
          pInputText
          maxlength="30"
          appNoSpecialSymbols
          customAttr="textOnly"
          class="inputFromUser"
          placeholder="City"
          formControlName="city"
        />
        <small class="error" *ngIf="city?.invalid && city?.touched"
          >City is required.</small
        >
      </div>
      <div class="p-field p-col-4 p-md-3">
        <!-- <label for="state" class="label-title">State</label> -->
        <!-- <input
          type="text"
          pInputText
          value="{{ veteranData?.state }}"
          placeholder="State"
          formControlName="state"
         
        /> -->
         <p-dropdown
          [autoDisplayFirst]="false"
          [options]="states"
        appendTo="body" 
          formControlName="selectedState"
          placeholder="State"
          optionLabel="name"
          class="inputFromUser input-cal"
        >
        </p-dropdown>
        <small
          class="error"
          *ngIf="control.selectedState?.invalid && control.selectedState?.touched"
         
          >State is required.</small
        >
      </div>
      <div class="p-field p-col-6 p-md-4">
        <!-- <label for="zipcode" class="label-title"> Zipcode</label> -->
        <input
          type="text"
          pInputText
          placeholder="Zip"
          mask="00000-0000||00000"
          value="{{ veteranData?.zipcode }}"
          formControlName="zipcode"
          class="inputFromUser"
        />
        <small class="error" *ngIf="zipcode?.invalid && zipcode?.touched"
          >Zipcode is required.</small
        >
      </div>
    </div>

    <button
      type="submit"
      pButton
      label="Submit"
      [ngClass]="transportRequestForm.invalid ? ' p-button-outlined p-button-disabled' : 'p-button-outlined'"
      [disabled]="transportRequestForm.invalid"
      
    ></button>
    <button
      type="button"
      pButton
      label="Cancel"
      (click)="reset()"
      class="p-button-text p-button-secondary"
    ></button>
  </form>
</div>
