.form-container {
  margin: 0 25px;
  padding: 20px 20px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(183, 183, 183, 1);
}

.address-text-area {
  width: 0%;
}

.disable {
  pointer-events: none;
  margin-bottom: 10px;
  background-color: #efefef;
  font-family: "Roboto Medium", "Roboto Regular", "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 32px;

}

#div {
  margin-top: 10px;
}

.error {
  color: red;
}
