<app-item-header
  color="blue"
  title="Details"
></app-item-header>
<div class="form-container">
  <form
    *ngIf="transportRequestForm"
    [formGroup]="transportRequestForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-3">
        <label for="firstName" class="label-title">First Name</label>
        <input
          type="text"
          id="firstName"
          pInputText
          formControlName="firstName"
          value="{{ caseWorker?.first_name }}"
          class="disable"
        />
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="lastName" class="label-title">Last Name</label>
        <input
          type="text"
          id="lastName"
          pInputText
          formControlName="lastName"
          value="{{ caseWorker?.last_name }}"
          class="disable"
        />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="appointmentDate" class="label-title"
          >Appointment Date</label
        >
        <input
          type="text"
          id="appointmentDate"
          pInputText
          formControlName="appointmentDate"
          value="{{ caseWorker?.appointment_date | date: 'dd/MM/yyyy'  }}"
          class="disable"
        />
      </div>
      <div class="p-field p-col-12 p-md-2">
        <label for="time" class="label-title">Time</label>
        <input
          type="text"
          id="time"
          pInputText
          formControlName="time"
          value="{{ caseWorker?.appointment_time }}"
          class="disable"
        />
      </div>
    </div>

    <p-divider></p-divider>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-col-12 p-md-6">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <label for="reason" class="label-title">Reason</label>
            <textarea
              id="reason"
              pInputTextarea
              formControlName="reason"
              [rows]="6"
              class="address-text-area"
              value="{{ caseWorker.reason_for_request }}"
              class="disable"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-6">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <label for="address" class="label-title">Address</label>
            <input
              type="text"
              pInputText
              formControlName="address"
              value="{{ caseWorker?.pick_up_address_main }}"
              class="disable"
            />
          </div>
          <div class="p-field p-col-8 p-md-5">
            <label for="city" class="label-title">City</label>
            <input
              type="text"
              pInputText
              formControlName="city"
              value="{{ caseWorker?.pick_up_city }}"
              class="disable"
            />
          </div>
          <div class="p-field p-col-4 p-md-3">
            <label for="state" class="label-title">State</label>
            <input
              type="text"
              pInputText
              formControlName="state"
              value="{{ caseWorker?.pick_up_state }}"
              class="disable"
            />
          </div>
          <div class="p-field p-col-5 p-md-4">
            <label for="zip" class="label-title">Zip</label>
            <input
              type="text"
              pInputText
              formControlName="zip"
              value="{{ caseWorker?.pick_up_zip_code }}"
              class="disable"
              mask="00000-0000||00000"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="p-fluid p-formgrid p-grid">
      <div class="p-col-12 p-md-6">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <input
              type="text"
              pInputText
              formControlName="coordinator"
              maxlength="30"
              value="{{ caseWorker.transport_coordinator }}"
              placeholder="Transport Co-ordinator"
              appNoSpecialSymbols
              customAttr="textWithSpace"
            />
            <small
              class="error"
              *ngIf="coordinator?.invalid && coordinator?.touched"
              >coordinator is required.</small
            >
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-6">
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <p-calendar
              formControlName="approvedDate"
              [touchUI]="mobileMode"
              [readonlyInput]="mobileMode"
              [inline]="false"
              [minDate]="minDateValue"
              [maxDate]="maxDateValue"
              placeholder="Date Approved"
            ></p-calendar>
            <small
              class="error"
              *ngIf="approvedDate?.invalid && approvedDate?.touched"
              >approved date is required.</small
            >
          </div>
        </div>
      </div>
    </div>
  
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-3 p-field-checkbox">
        <label for="Nursing Notified" class="label-title">Nursing Notified</label>
        <p-checkbox name="Nursing Notified"
          dir="rtl" 
          formControlName="nursingNotified"
          class="checkbox"
          value="{{caseWorker.nursing_notified}}"
          [binary]="true">
      </p-checkbox>
      </div>

      <div class="p-field p-col-12 p-md-4">
        <input
          type="text"
          pInputText
          formControlName="by"
          maxlength="30"
          value="{{ caseWorker.notified_by }}"
          placeholder="By"
          appNoSpecialSymbols
          customAttr="textWithSpace"
        />
        <small class="error" *ngIf="by?.invalid && by?.touched"
          >by is required.</small
        >
      </div>
      <div class="p-field p-col-12 p-md-5">
        <p-calendar
          formControlName="date"
          [touchUI]="mobileMode"
          [readonlyInput]="mobileMode"
          [inline]="false"
          [showIcon]="true"
          [minDate]="minDateValue"
          placeholder="Date"
        ></p-calendar>
        <small class="error" *ngIf="date?.invalid && date?.touched"
          >Date is required.</small
        >
      </div>
    </div>

    <button
      type="submit"
       pButton
      label="Submit"
      [disabled]="transportRequestForm.invalid"
      class="p-button-outlined"
    ></button>
    <button
      type="button"
      pButton
      label="Cancel"
      (click)="reset()"
      class="p-button-text p-button-secondary"
    ></button>
  </form>
</div>