.form-container {
  margin: 0 15px;
  padding: 20px 20px;
  background: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(183, 183, 183, 1);
}

.address-text-area {
  width: 100%;
}
