::ng-deep .menu-items--text {
  font-family: "Roboto Bold", "Roboto Regular", "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  .pi {
    font-weight: 700;
  }
}

:host ::ng-deep .menu-item--1 span {
  color: #a00000 !important;
}

:host ::ng-deep .menu-item--2 span {
  color: #cc5600 !important;
}
:host ::ng-deep .menu-item--3 span {
  color: #31326d !important;
}
:host ::ng-deep .menu-item--4 span {
  color: #28714d !important;
}
:host ::ng-deep .menu-item--5 span {
  color: #0d5da6 !important;
}
:host ::ng-deep .menu-item--6 span {
  color: #e01a45 !important;
}
:host ::ng-deep .menu-item--6 span{
  color: #cc0000 !important;
}

:host ::ng-deep .p-menu {
  width: 13.5rem;
  border: none;
}
