<div class="center-spinner">
  <p-progressSpinner *ngIf="!isShowComponent" [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<app-header *ngIf="isShowComponent" (toggleMenu)="toggleMenu()" id="prnt"></app-header>

<div *ngIf="isShowComponent" class="p-grid nested-grid">
  <p-menu [model]="items" class="p-col-12 p-lg-2" width="250px" [hidden]="!displayMenu" (click)='activeMenu($event)'></p-menu>
  <p-divider
    layout="vertical"
    class="p-d-none p-d-lg-block p-col-fixed"
    width="10px"
  ></p-divider>
  <div class="p-col">
    <app-welcome-header
      name="{{ name }}"
      image="{{ image }}"
    ></app-welcome-header>
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer *ngIf="isShowComponent" class="p-jc-end"></app-footer>
<app-consent-data *ngIf="isShowComponent"></app-consent-data>
