<div *ngIf="isTableEmpty">
  <p>Health tracker details not submitted by veteran</p>
</div>
  <!-- Weight Table -->
  <div *ngIf="showWeight" class="weight-table">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 ">
        <div class="title-container" >
          <p>
            <span>Weight</span>
          </p>
        </div>
      </div>
    </div>
    <p-table [columns]="cols" [value]="tableWeightValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Date</th>
          <th>Measurement<small class="table-txt--unit">(Pound)</small></th>
          <th>Comment</th>
        </tr>
        </ng-template>
        <ng-template  pTemplate="body" let-rowData let-columns="columns">
          <tr>
              <td *ngFor="let col of columns">
                  {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
              </td>
          </tr>
      </ng-template>
  </p-table>
  <br>
</div>
<!-- Temperature Table -->
<div *ngIf="showTemperature" class="temperature-table">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12 ">
      <div class="title-container" >
        <p>
          <span>Temperature</span>
        </p>
      </div>
    </div>
  </div>
  <p-table [columns]="cols" [value]="tableTemperatureValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Date</th>
        <th>Measurement<small class="table-txt--unit">(F)</small></th>
        <th>Comment</th>
      </tr>
      </ng-template>
      <ng-template  pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
<br>
</div>
<!-- Blood Pressure Table -->
<div *ngIf="showBloodPressure" class="blood-pressure-table">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 ">
    <div class="title-container" >
      <p>
        <span>Blood Pressure</span>
      </p>
    </div>
  </div>
</div>
<p-table [columns]="cols" [value]="tableBloodPressureValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
<br>
</div>
<!-- Drug Screen Table -->
<div *ngIf="showDrugScreen" class="drug-screen-table">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 ">
    <div class="title-container" >
      <p>
        <span>Drug Screen</span>
      </p>
    </div>
  </div>
</div>
<p-table [columns]="cols" [value]="tableDrugScreenValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
<br>
</div>
<!-- Breathalyzer Table -->
<div *ngIf="showBreathalyzer" class="breathalyzer-table">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 ">
    <div class="title-container" >
      <p>
        <span>Breathalyzer</span>
      </p>
    </div>
  </div>
</div>
<p-table [columns]="cols" [value]="tableBreathalyzerValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Date</th>
      <th>Measurement<small class="table-txt--unit">(%)</small></th>
      <th>Comment</th>
    </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
<br>
</div>
<!-- Blood Sugar Table -->
<div *ngIf="showBloodSugar" class="blood-sugar-table">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 ">
    <div class="title-container" >
      <p>
        <span>Blood Sugar</span>
      </p>
    </div>
  </div>
</div>
<p-table [columns]="cols" [value]="tableBloodSugarValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Date</th>
      <th>Measurement<small class="table-txt--unit">(mg/dl)</small></th>
      <th>Comment</th>
    </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
<br>
</div>
<!-- BMI Table -->
<div *ngIf="showBmi" class="bmi-table">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 ">
    <div class="title-container" >
      <p>
        <span>BMI</span>
      </p>
    </div>
  </div>
</div>
<p-table [columns]="cols" [value]="tableBmiValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
<br>
</div>
<!-- Other Table -->
<div *ngIf="showOther" class="other-table">
<div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col-12 ">
    <div class="title-container" >
      <p>
        <span>Other</span>
      </p>
    </div>
  </div>
</div>
<p-table [columns]="cols" [value]="tableOtherValues" styleClass="p-datatable-sm" [scrollable]="true" scrollHeight="120px" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
              {{col.header}}
          </th>
      </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{col.date ? (rowData[col.field]| date : col.format) : rowData[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>
<br>
</div>
    <!-- table end -->
  
