<div class="grand">
    <div class="login-outerContainer">
        <app-item-header [title]="title"></app-item-header>
        <div class="login-container">
            <div class="loginn">
                <p>Click here to Login.</p>
                <a href="https://servant-center.auth.us-east-1.amazoncognito.com/login?response_type=token&client_id=5igt34gtp2ok5mf02d9e4v30lb&redirect_uri=https://dd1w1wuqwe28t.cloudfront.net/veteran">Login</a>
                <!-- <button type="submit" pButton class="p-button-outlined " (click)="navigateToDashboard()">Sign In
                </button><br> -->
            </div>
        </div>
    </div>
</div>